// Modal login window
#modalLogin.modal.fade(role='dialog')
  .modal-dialog.modal-dialog_custom
    // Modal content
    .modal-dialog__inner
      button.close(type='button', data-dismiss='modal')
      .modal-dialog__content
        h5 Login Form
        // RD Mailform
        form.rd-mailform.rd-mailform_responsive
          .form-wrap.form-wrap_icon.linear-icon-envelope
            input#modal-login-email.form-input(type="email" name="email" data-constraints="@Email @Required")
            label.form-label(for="modal-login-email") Your e-mail

          .form-wrap.form-wrap_icon.linear-icon-lock
            input#modal-login-password.form-input(type="password" name="password" data-constraints="@Required")
            label.form-label(for="modal-login-password") Your password

          button(type="submit").button.button-primary Login

        ul.list-small
          li: a(href='#') Forgot your username?
          li: a(href='#') Forgot your password?
='\n'