//- Thumbnail flickr
mixin flickr-item
  .flickr-item(data-type="flickr-item")
    a.thumbnail.thumbnail-flickr(data-image_b="href", data-photo-swipe-item)
      figure
        img(src='images/_blank.png', data-image_z="src" data-title="alt", width='165', height='165', alt='')
      .thumbnail-overlay