//- Classic Pagination
//- active - active index of pagination
//- index - an array of {link} for indexes
//- prev - prev button {link}
//- next - next button {link}


mixin pagination-classic(active, indexes, prev, next)
  // Classic Pagination
  nav
    ul.pagination-classic
      //- Previous
      if prev
        li.disabled
          span.icon.linear-icon-arrow-left= prev.title

      //- Indexes
      each index, i in indexes
        if (i === (active - 1))
          li(class= i === active - 1 ? "active" : "")
            span= i + 1
        else
          li(class= i === active - 1 ? "active" : "")
            a(href=index.href)= i + 1

      //- Next
      if next
        li
          a(href=next.href).icon.linear-icon-arrow-right= next.title