//- parallax - RD Parallax object

mixin rd-parallax(parallax)
  // RD Parallax
  .rd-parallax.bg-image(data-on="false" data-md-on="true" class=parallax.class, style='background-image: url(' + parallax.src + ');')
    .rd-parallax-layer(data-speed= parallax.backgroundSpeed, data-type= parallax.attrType, data-url= parallax.src)
    .rd-parallax-layer(data-speed= parallax.htmlSpeed, data-type='html')
      block