section.pre-footer-corporate
  .shell
    .range.range-xs-center.range-md-left.range-30.range-sm-60
      .cell-xs-10.cell-sm-6.cell-md-10.cell-lg-3
        h6 About
        p Monstroid² is HTML template that fits for both developers and beginners. It comes loaded with an assortment of tools and features that make customization process much easier. A pack of child themes, specially designed for various business niches, allows users to create a fully functional site for any specific business quickly and worry-free.

      .cell-xs-10.cell-sm-6.cell-md-3.cell-lg-3
        h6 Navigation
        ul.list-xxs
          li: a(href='#') Retina Homepage
          li: a(href='#') New Page Examples
          li: a(href='#') Parallax Sections
          li: a(href='#') Shortcode Central
          li: a(href='#') Ultimate Font Collection


      .cell-xs-10.cell-sm-6.cell-md-5.cell-lg-3
        h6 Recent Comments
        ul.list-xs
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Site Speed and Search Engines Optimization Aspects
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) 5 Things to Know Before You Buy an HTML Template
          li
            // Comment minimal
            article.comment-minimal
              p.comment-minimal__author Brian Williamson on
              p.comment-minimal__link: a(href=postLink) Turning Your Site into a Sales Machine

      .cell-xs-10.cell-sm-6.cell-md-4.cell-lg-3
        h6 Contacts
        ul.list-xs
          li
            dl.list-terms-minimal
              dt Address
              dd 4578 Marmora Road, Glasgow, D04 89GR

          li
            dl.list-terms-minimal
              dt Phones
              dd: ul.list-semicolon
                li: a(href='callto:#') (800) 123-0045
                li: a(href='callto:#') (800) 123-0045

          li
            dl.list-terms-minimal
              dt E-mail
              dd: a(href='mailto:#') info@demolink.org

          li
            dl.list-terms-minimal
              dt We are open
              dd Mn-Fr: 10 am-8 pm

='\n'

footer.footer-corporate
  .shell
    .footer-corporate__inner
      p.rights
        span!=brandName
        span &nbsp;
        span(id="copyright-year")
        | .
        if(footerLink)
          // {%FOOTER_LINK}

      ul.list-inline-xxs
        li: a.icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-pinterest(href='#')