footer.footer-modern
  .shell
    .footer-modern__layer.footer-modern__layer_top
      a.brand(href='index.html')
        +png(logoDefault)

      ul.list-nav
        li(class={active: activeIndex == 0}): a(href='index.html') Home
        li(class={active: activeIndex == 1}): a(href='#') Features
        li(class={active: activeIndex == 2}): a(href='#') Pages
        li(class={active: activeIndex == 3}): a(href='monthly-events.html') Events
        li(class={active: activeIndex == 4}): a(href='portfolio.html') Gallery
        li(class={active: activeIndex == 5}): a(href='shop-grid.html') Shop
        li(class={active: activeIndex == 6}): a(href='#') Elements

      ul.list-inline-xxs.footer-modern__list
        li: a.icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-google-plus(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-vimeo(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-youtube(href='#')
        li: a.icon.icon-xxs.icon-primary.fa.fa-pinterest(href='#')

    .footer-modern__layer.footer-modern__layer_bottom
      p.rights
        span!=brandName
        span &nbsp;
        span(id="copyright-year")
        | .
        if(footerLink)
          // {%FOOTER_LINK}

      ul.list-bordered
        li
          dl.list-terms-minimal
            dt Address
            dd 4578 Marmora Road, Glasgow, D04 89GR

        li
          dl.list-terms-minimal
            dt Phones
            dd: ul.list-semicolon
              li: a(href='callto:#') (800) 123-0045
              li: a(href='callto:#') (800) 123-0045

        li
          dl.list-terms-minimal
            dt E-mail
            dd: a(href='mailto:#') info@demolink.org