footer.footer-modern.rd-is-footer
  .shell
    
    ul.list-inline-md.footer-minimal__list.text-center
      li: a.icon.icon-md.icon-primary.fa.fa-facebook.fa-2x(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-twitter(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-instagram(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-vk(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-youtube(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-telegram(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-reddit(href='#' target='_blank')
      li: a.icon.icon-md.icon-primary.fa.fa-slack(href='#' target='_blank')

    .rights.text-center
      span!=brandName
      span &nbsp;
      span(id="copyright-year")
      | &nbsp;All Rights Reserved
      if(footerLink)
        // {%FOOTER_LINK}