header.page-header
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar_inverse.rd-navbar_dark(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-static', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-static', data-lg-layout='rd-navbar-static', data-stick-up-clone='false', data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true', data-md-stick-up-offset='120px', data-lg-stick-up-offset='35px', data-body-class='rd-navbar-absolute')
      // RD Navbar Top Panel
      .rd-navbar-top-panel
        .rd-navbar-top-panel__main
          .rd-navbar-top-panel__toggle.rd-navbar-fixed__element-1.rd-navbar-static--hidden(data-rd-navbar-toggle='.rd-navbar-top-panel__main'): span
          .rd-navbar-top-panel__content
            .rd-navbar-top-panel__left: p Premium HTML Template
            .rd-navbar-top-panel__right: ul.rd-navbar-items-list
              li: ul.list-inline-xxs
                li: a(href='#', data-toggle='modal', data-target='#modalLogin') Sign In
                li: a(href='#', data-toggle='modal', data-target='#modalRegister') Create an Account

              li: ul.list-inline-xxs
                li: a.icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
                li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
                li: a.icon.icon-xxs.icon-primary.fa.fa-google-plus(href='#')
                li: a.icon.icon-xxs.icon-primary.fa.fa-vimeo(href='#')
                li: a.icon.icon-xxs.icon-primary.fa.fa-youtube(href='#')
                li: a.icon.icon-xxs.icon-primary.fa.fa-pinterest-p(href='#')

      .rd-navbar-inner.rd-navbar-search-wrap
        // RD Navbar Panel
        .rd-navbar-panel.rd-navbar-search_collapsable
          button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

          // RD Navbar Brand
          .rd-navbar-brand
            a.brand-name(href='index.html')
              +png(logoInverse)

        // RD Navbar Nav
        .rd-navbar-nav-wrap.rd-navbar-search_not-collapsable
          ul.rd-navbar-items-list.rd-navbar-search_collapsable
            li: button.rd-navbar-search__toggle.rd-navbar-fixed--hidden(data-rd-navbar-toggle='.rd-navbar-search-wrap')
            li.rd-navbar-nav-wrap__shop: a.icon.icon-md.linear-icon-cart.link-gray-4(href='cart.html')
          include ../includes/_navbar-search
          .rd-navbar-search_collapsable
            include ../includes/_nav