section.text-center
  .range.range-condensed
    .cell-md-6.cat-wrap.bg-primary
      .cat-mod-1
        h3 No Hidden Cost
        p After we complete your project, all documentations and passwords are given to you so that you control your app without any monthly subscription charges. Your personnel are trained by us to be in full control of your app or website.
        a(href='#').button.button-gray-light-outline Read more

    .cell-md-6.bg-image.bg-image-3.cat-wrap
      .cat-mod-1
        h3 100% Guaranteed Satisfaction
        p You will be completely happy with our products and services. If not, we are ready to offer 100% money back during 30 days from the purchase date. No questions asked. 
        a(href='#').button.button-primary Read more
='\n'