.shell(style="background-color:#8e020e")
  //.visible-xs.text-center
    include ../sections/_section-download-btns
  .swiper-container.swiper-slider.swiper-slider-custom(data-simulate-touch="false")
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/mobile-slide-1-1920x1080.png')
        .swiper-slide-caption.pull-top
          .shell
            h3(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color: white;") Responsive designs with multipurpose functionalities.
          //.shell.pull-left
            h3(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color: white;") Responsive designs with multipurpose functionalities.

      .swiper-slide(data-slide-bg='images/mobile-slide-2-1920x1080.png')
        .swiper-slide-caption(style="padding-left:20px; color:white")
          .shell.pull-left
            //h4(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color:white; text-shadow: 1px 1px black;").txtslidetwoH Следи за выполнением заказа!
            //ul(style="padding-left:20px;")
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTone Отслеживай эвакуатора в реальном времени.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTtwo Оплата только после оказания <br> услуги.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTthree Точный расчет по заказу.
            //.hidden-xs
              include ../sections/_section-download-btns
      .swiper-slide(data-slide-bg='images/mobile-slide-7-1920x1080.png')
        .swiper-slide-caption(style="padding-left:20px; color:white")
          .shell.pull-left
            //h4(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color:white; text-shadow: 1px 1px black;").txtslidethreeH Проверенные временем!
            //ul(style="padding-left:20px;")
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTone Только проверенные партнеры.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTtwo Оценка работы каждого эвакуатора пользователями.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTthree Гарантия защиты банковских переводов<br> системой безопасности CloudPayments.
            //.hidden-xs
              include ../sections/_section-download-btns
      .swiper-slide(data-slide-bg='images/mobile-slide-4-1920x1080.png')
        .swiper-slide-caption.text-center
          .shell
            .range.range-50
              .cell-sm-8.cell-md-8
                h3(data-caption-animate='fadeInUpSmall' style="color:white; padding-top:143px") Join our online store with your products to reach multitude of consumers or get a customized e-commerce site for yourself. 
                
          //ul
            li
              h5 Только проверенные партнеры
            li
              h5 Честная оценка работы каждого эвакуатора пользователями
            li
              h5 Гарантия защиты банковских переводов системой безопасности <a href="#" style="color:#808080;background-color:transparent;text-decoration: underline;">CloudPayments</a>
          //include ../sections/_section-download-btns
      //.swiper-slide(data-slide-bg='images/mobile_slide6.jpg')
        .swiper-slide-caption.text-center
          h3(data-caption-animate='fadeInUpSmall') Закажи эвакуатор в два клика
          include ../sections/_section-download-btns
    // Swiper Pagination
    .swiper-pagination

    // Swiper Navigation
    .swiper-button-prev.linear-icon-chevron-left
    .swiper-button-next.linear-icon-chevron-right