// Swiper custom
.shell
  .swiper-container.swiper-slider.swiper-slider-custom(data-simulate-touch="false")
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/slide-1.jpg')
        .swiper-slide-caption

      .swiper-slide(data-slide-bg='images/slide-2.jpg')
        .swiper-slide-caption

      .swiper-slide(data-slide-bg='images/slide-3.jpg')
        .swiper-slide-caption

      .swiper-slide(data-slide-bg='images/slide-4.jpg')
        .swiper-slide-caption

      .swiper-slide(data-slide-bg='images/slide-5.jpg')
        .swiper-slide-caption

    // Swiper Pagination
    .swiper-pagination