section.bg-image.bg-image-2
  .shell
    .range.range-md-top
      .cell-sm-8.cell-md-6
        .section-xl
          h2 Like What We Offer?
          p Start with this demo now or check out the others to choose what you need.
          a(href='index.html').button.button-primary View now!

='\n'