section.section-lg.bg-image.bg-image-4.text-center.bg-primary
  .shell
    .range.range-xs-center.range-60
      .cell-sm-4.cell-lg-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.45", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Clean Interface
      .cell-sm-4.cell-lg-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.60", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Responsive Design
      .cell-sm-4.cell-lg-3
        // Circle Progress Bar
        .progress-bar-circle(data-value="0.80", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
          span
        .progress-bar-circle-title Easy Customization
='\n'