// Brands
section.section-md.bg-white
  .shell
    // Owl Carousel
    .owl-carousel.text-center(data-items='1', data-xs-items='2', data-sm-items='4', data-md-items='5', data-xl-items='6', data-stage-padding='15', data-loop='true', data-margin='30', data-mouse-drag="false", data-dots='true')
      .item: a.link-transparent(href='#')
        +png('brand-1-128x111')
      .item: a.link-transparent(href='#')
        +png('brand-2-129x102')
      .item: a.link-transparent(href='#')
        +png('brand-3-143x110')
      .item: a.link-transparent(href='#')
        +png('brand-4-129x86')
      .item: a.link-transparent(href='#')
        +png('brand-5-142x102')
      .item: a.link-transparent(href='#')
        +png('brand-6-134x122')
='\n'