// Swiper
section.rd-parallax
  .rd-parallax-layer(data-type='html', data-speed='1')
    .swiper-container.swiper-slider.swiper-slider_fullheight(data-simulate-touch="false", data-loop='true', data-autoplay='false')
      .swiper-wrapper
        .swiper-slide.bg-white.custom-parallax-wrap(data-slide-bg='images/slider-slide-12-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h2(data-caption-animate='fadeInUpSmall') Discover the Full Potential of Bootstrap
              h2(data-caption-animate='fadeInUpSmall') with Monstroid²
              a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='200', href=getTemplateLink) Buy template

        .swiper-slide.bg-gray-lighter.custom-parallax-wrap(data-slide-bg='images/slider-slide-13-1920x1080.jpg')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h1(data-caption-animate='fadeInUpSmall')
                span Monstroid
                sup 2
              h3(data-caption-animate='fadeInUpSmall', data-caption-delay='200') New HTML Templates Generation
              .group-lg.group-middle
                a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

        .swiper-slide.bg-secondary-8.custom-parallax-wrap(data-slide-bg='images/slider-slide-14-1920x1080.jpg' style='background-position: center top;')
          .swiper-slide-caption.custom-parallax(data-speed='0.5', data-fade='true').text-center
            .shell
              h2(data-caption-animate='fadeInUpSmall')
                | Build by geeks
                br
                | & used by humans
              h5.text-width-2.block-centered(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Monstroid² aims to satisfy real needs of real projects. We've got a pack of useful tools for that.
              .group-lg.group-middle
                a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template

      // Swiper Pagination
      .swiper-pagination

      // Swiper Navigation
      .swiper-button-prev.linear-icon-chevron-left
      .swiper-button-next.linear-icon-chevron-right
='\n'