section.bg-primary
  .shell
    .range.range-sm-center.range-md-bottom
      .cell-sm-8.cell-md-6.section-lg
        h3.wow.fadeInUpSmall(data-wow-delay=".2s" data-wow-duration='1.2s') Haven’t Found What You Like? Browse Our Other Demos
        p.wow.fadeInUpSmall(data-wow-delay=".5s" data-wow-duration='1.2s') Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
        a(href='#').button.button-gray-light-outline.wow.fadeInUpSmall(data-wow-delay=".9s" data-wow-duration='1.2s') View now!

      .cell-sm-8.cell-md-6
        .cat-img-group
          .wow.fadeInUpSmall(data-wow-delay="1.1s" data-wow-duration='1.8s')
            +jpg('cat-2-507x508','')
          .wow.fadeInUpSmall(data-wow-delay=".8s" data-wow-duration='2s')
            +jpg('cat-1-326x427','')
='\n'