.shell(style="background-color:#ffc045")
  //.visible-xs.text-center
    include ../sections/_section-download-btns
  .swiper-container.swiper-slider.swiper-slider-custom(data-simulate-touch="false")
    .swiper-wrapper
      .swiper-slide(data-slide-bg='images/mobile-slide-1-1920x1080.png')
        .swiper-slide-caption
          .shell.pull-right
            //h4(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color:white; text-shadow: 1px 1px black;").txtslideoneH Выгодное предложение!
            //ul(style="padding-left:20px; color:white")
              li
                h6.txtslideoneTone(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Стоимость ниже на 24%, чем у простых служб эвакуации.
              li
                h6.txtslideoneTtwo(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Все исполнители работают по единому тарифу.
              li
                h6.txtslideoneTthree(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Видная полная детализация по каждому завершенному заказу.
            //.hidden-xs
              include ../sections/_section-download-btns
      .swiper-slide(data-slide-bg='images/mobile-slide-2-1920x1080.png')
        .swiper-slide-caption(style="padding-left:20px; color:white")
          .shell.pull-left
            //h4(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color:white; text-shadow: 1px 1px black;").txtslidetwoH Следи за выполнением заказа!
            //ul(style="padding-left:20px;")
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTone Отслеживай эвакуатора в реальном времени.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTtwo Оплата только после оказания <br> услуги.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidetwoTthree Точный расчет по заказу.
            //.hidden-xs
              include ../sections/_section-download-btns
      .swiper-slide(data-slide-bg='images/mobile-slide-7-1920x1080.png')
        .swiper-slide-caption(style="padding-left:20px; color:white")
          .shell.pull-left
            //h4(data-caption-animate='fadeInUpSmall', data-wow-duration='5s' style="color:white; text-shadow: 1px 1px black;").txtslidethreeH Проверенные временем!
            //ul(style="padding-left:20px;")
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTone Только проверенные партнеры.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTtwo Оценка работы каждого эвакуатора пользователями.
              li
                h6(data-caption-animate='fadeInUpSmall', data-caption-delay='200').txtslidethreeTthree Гарантия защиты банковских переводов<br> системой безопасности CloudPayments.
            //.hidden-xs
              include ../sections/_section-download-btns
      .swiper-slide(data-slide-bg='images/mobile-slide-4-1920x1080.png')
        .swiper-slide-caption.text-center
          //h3(data-caption-animate='fadeInUpSmall').
            Только проверенные партнеры,
            Честная оценка работы каждого эвакуатора пользователями и
            Гарантия защиты банковских переводов системой безопасности
            <a href="#" style="text-decoration: underline;">CloudPayments</a>
          //ul
            li
              h5 Только проверенные партнеры
            li
              h5 Честная оценка работы каждого эвакуатора пользователями
            li
              h5 Гарантия защиты банковских переводов системой безопасности <a href="#" style="color:#808080;background-color:transparent;text-decoration: underline;">CloudPayments</a>
          //include ../sections/_section-download-btns
      //.swiper-slide(data-slide-bg='images/mobile_slide6.jpg')
        .swiper-slide-caption.text-center
          h3(data-caption-animate='fadeInUpSmall') Закажи эвакуатор в два клика
          include ../sections/_section-download-btns
    // Swiper Pagination
    .swiper-pagination

    // Swiper Navigation
    .swiper-button-prev.linear-icon-chevron-left
    .swiper-button-next.linear-icon-chevron-right