include ../elements/_ui-rd-parallax
section.bg-gray-dark.text-center
  +rd-parallax({
    "backgroundSpeed": "0.35",
    "attrType": "media",
    "src": "images/parallex-01.jpg",
    "htmlSpeed": "0.1",
    "class": 'rd-parallax-light'
  })
    .shell.section-xl
      h2 Rhemasoft store
      p Choose from the wide range of devices and accesories for your office and home.
      a(href='#').button.button-primary Shop now!
='\n'