section.section.section-lg.bg-white
	.shell
		.page-heading
			h2 Font Awesome Icons
			p Enjoy the complete set of icons in Font Awesome 4.5.0

		// New
		.section.section-md.bg-white
			h3 20 New Icons in 4.5

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth
					| bluetooth

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth-b
					| bluetooth-b

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-codiepie
					| codiepie

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-credit-card-alt
					| credit-card-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-edge
					| edge

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fort-awesome
					| fort-awesome

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hashtag
					| hashtag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mixcloud
					| mixcloud

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-modx
					| modx

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pause-circle
					| pause-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pause-circle-o
					| pause-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-percent
					| percent

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-product-hunt
					| product-hunt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reddit-alien
					| reddit-alien

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-scribd
					| scribd

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shopping-bag
					| shopping-bag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shopping-basket
					| shopping-basket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stop-circle
					| stop-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stop-circle-o
					| stop-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-usb
					| usb

		// Web application
		section.section.section-md.bg-white(id="web-application")
			h3 Web Application Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-adjust
					| adjust

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-anchor
					| anchor

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-archive
					| archive

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-area-chart
					| area-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows
					| arrows

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-h
					| arrows-h

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-v
					| arrows-v

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-asterisk
					| asterisk

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-at
					| at

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-automobile
					| automobile
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-balance-scale
					| balance-scale

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ban
					| ban

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bank
					| bank
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bar-chart
					| bar-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bar-chart-o
					| bar-chart-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-barcode
					| barcode

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bars
					| bars

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-0
					| battery-0
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-1
					| battery-1
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-2
					| battery-2
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-3
					| battery-3
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-4
					| battery-4
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-empty
					| battery-empty

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-full
					| battery-full

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-half
					| battery-half

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-quarter
					| battery-quarter

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-battery-three-quarters
					| battery-three-quarters

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bed
					| bed

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-beer
					| beer

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bell
					| bell

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bell-o
					| bell-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bell-slash
					| bell-slash

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bell-slash-o
					| bell-slash-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bicycle
					| bicycle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-binoculars
					| binoculars

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-birthday-cake
					| birthday-cake

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth
					| bluetooth

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth-b
					| bluetooth-b

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bolt
					| bolt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bomb
					| bomb

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-book
					| book

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bookmark
					| bookmark

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bookmark-o
					| bookmark-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-briefcase
					| briefcase

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bug
					| bug

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-building
					| building

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-building-o
					| building-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bullhorn
					| bullhorn

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bullseye
					| bullseye

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bus
					| bus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cab
					| cab
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calculator
					| calculator

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar
					| calendar

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar-check-o
					| calendar-check-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar-minus-o
					| calendar-minus-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar-o
					| calendar-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar-plus-o
					| calendar-plus-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-calendar-times-o
					| calendar-times-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-camera
					| camera

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-camera-retro
					| camera-retro

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-car
					| car

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-down
					| caret-square-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-left
					| caret-square-o-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-right
					| caret-square-o-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-up
					| caret-square-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cart-arrow-down
					| cart-arrow-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cart-plus
					| cart-plus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc
					| cc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-certificate
					| certificate

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check
					| check

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-circle
					| check-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-circle-o
					| check-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-square
					| check-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-square-o
					| check-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-child
					| child

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle
					| circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle-o
					| circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle-o-notch
					| circle-o-notch

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle-thin
					| circle-thin

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-clock-o
					| clock-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-clone
					| clone

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-close
					| close
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cloud
					| cloud

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cloud-download
					| cloud-download

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cloud-upload
					| cloud-upload

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-code
					| code

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-code-fork
					| code-fork

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-coffee
					| coffee

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cog
					| cog

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cogs
					| cogs

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-comment
					| comment

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-comment-o
					| comment-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-commenting
					| commenting

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-commenting-o
					| commenting-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-comments
					| comments

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-comments-o
					| comments-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-compass
					| compass

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-copyright
					| copyright

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-creative-commons
					| creative-commons

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-credit-card
					| credit-card

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-credit-card-alt
					| credit-card-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-crop
					| crop

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-crosshairs
					| crosshairs

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cube
					| cube

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cubes
					| cubes

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cutlery
					| cutlery

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dashboard
					| dashboard
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-database
					| database

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-desktop
					| desktop

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-diamond
					| diamond

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dot-circle-o
					| dot-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-download
					| download

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-edit
					| edit
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ellipsis-h
					| ellipsis-h

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ellipsis-v
					| ellipsis-v

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-envelope
					| envelope

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-envelope-o
					| envelope-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-envelope-square
					| envelope-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eraser
					| eraser

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-exchange
					| exchange

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-exclamation
					| exclamation

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-exclamation-circle
					| exclamation-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-exclamation-triangle
					| exclamation-triangle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-external-link
					| external-link

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-external-link-square
					| external-link-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eye
					| eye

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eye-slash
					| eye-slash

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eyedropper
					| eyedropper

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fax
					| fax

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-feed
					| feed
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-female
					| female

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fighter-jet
					| fighter-jet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-archive-o
					| file-archive-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-audio-o
					| file-audio-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-code-o
					| file-code-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-excel-o
					| file-excel-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-image-o
					| file-image-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-movie-o
					| file-movie-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-pdf-o
					| file-pdf-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-photo-o
					| file-photo-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-picture-o
					| file-picture-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-powerpoint-o
					| file-powerpoint-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-sound-o
					| file-sound-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-video-o
					| file-video-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-word-o
					| file-word-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-zip-o
					| file-zip-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-film
					| film

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-filter
					| filter

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fire
					| fire

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fire-extinguisher
					| fire-extinguisher

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flag
					| flag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flag-checkered
					| flag-checkered

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flag-o
					| flag-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flash
					| flash
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flask
					| flask

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-folder
					| folder

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-folder-o
					| folder-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-folder-open
					| folder-open

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-folder-open-o
					| folder-open-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-frown-o
					| frown-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-futbol-o
					| futbol-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gamepad
					| gamepad

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gavel
					| gavel

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gear
					| gear
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gears
					| gears
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gift
					| gift

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-glass
					| glass

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-globe
					| globe

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-graduation-cap
					| graduation-cap

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-group
					| group
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-grab-o
					| hand-grab-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-lizard-o
					| hand-lizard-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-paper-o
					| hand-paper-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-peace-o
					| hand-peace-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-pointer-o
					| hand-pointer-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-rock-o
					| hand-rock-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-scissors-o
					| hand-scissors-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-spock-o
					| hand-spock-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-stop-o
					| hand-stop-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hashtag
					| hashtag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hdd-o
					| hdd-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-headphones
					| headphones

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heart
					| heart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heart-o
					| heart-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heartbeat
					| heartbeat

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-history
					| history

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-home
					| home

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hotel
					| hotel
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass
					| hourglass

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-1
					| hourglass-1
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-2
					| hourglass-2
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-3
					| hourglass-3
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-end
					| hourglass-end

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-half
					| hourglass-half

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-o
					| hourglass-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hourglass-start
					| hourglass-start

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-i-cursor
					| i-cursor

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-image
					| image
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-inbox
					| inbox

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-industry
					| industry

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-info
					| info

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-info-circle
					| info-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-institution
					| institution
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-key
					| key

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-keyboard-o
					| keyboard-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-language
					| language

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-laptop
					| laptop

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-leaf
					| leaf

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-legal
					| legal
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-lemon-o
					| lemon-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-level-down
					| level-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-level-up
					| level-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-life-bouy
					| life-bouy
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-life-buoy
					| life-buoy
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-life-ring
					| life-ring

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-life-saver
					| life-saver
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-lightbulb-o
					| lightbulb-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-line-chart
					| line-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-location-arrow
					| location-arrow

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-lock
					| lock

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-magic
					| magic

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-magnet
					| magnet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mail-forward
					| mail-forward
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mail-reply
					| mail-reply
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mail-reply-all
					| mail-reply-all
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-male
					| male

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-map
					| map

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-map-marker
					| map-marker

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-map-o
					| map-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-map-pin
					| map-pin

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-map-signs
					| map-signs

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-meh-o
					| meh-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-microphone
					| microphone

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-microphone-slash
					| microphone-slash

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus
					| minus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus-circle
					| minus-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus-square
					| minus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus-square-o
					| minus-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mobile
					| mobile

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mobile-phone
					| mobile-phone
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-money
					| money

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-moon-o
					| moon-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mortar-board
					| mortar-board
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-motorcycle
					| motorcycle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mouse-pointer
					| mouse-pointer

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-music
					| music

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-navicon
					| navicon
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-newspaper-o
					| newspaper-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-object-group
					| object-group

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-object-ungroup
					| object-ungroup

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paint-brush
					| paint-brush

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paper-plane
					| paper-plane

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paper-plane-o
					| paper-plane-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paw
					| paw

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pencil
					| pencil

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pencil-square
					| pencil-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pencil-square-o
					| pencil-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-percent
					| percent

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-phone
					| phone

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-phone-square
					| phone-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-photo
					| photo
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-picture-o
					| picture-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pie-chart
					| pie-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plane
					| plane

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plug
					| plug

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus
					| plus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-circle
					| plus-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-square
					| plus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-square-o
					| plus-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-power-off
					| power-off

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-print
					| print

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-puzzle-piece
					| puzzle-piece

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-qrcode
					| qrcode

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-question
					| question

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-question-circle
					| question-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-quote-left
					| quote-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-quote-right
					| quote-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-random
					| random

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-recycle
					| recycle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-refresh
					| refresh

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-registered
					| registered

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-remove
					| remove
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reorder
					| reorder
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reply
					| reply

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reply-all
					| reply-all

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-retweet
					| retweet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-road
					| road

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rocket
					| rocket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rss
					| rss

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rss-square
					| rss-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-search
					| search

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-search-minus
					| search-minus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-search-plus
					| search-plus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-send
					| send
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-send-o
					| send-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-server
					| server

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share
					| share

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-alt
					| share-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-alt-square
					| share-alt-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-square
					| share-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-square-o
					| share-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shield
					| shield

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ship
					| ship

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shopping-bag
					| shopping-bag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shopping-basket
					| shopping-basket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shopping-cart
					| shopping-cart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sign-in
					| sign-in

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sign-out
					| sign-out

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-signal
					| signal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sitemap
					| sitemap

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sliders
					| sliders

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-smile-o
					| smile-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-soccer-ball-o
					| soccer-ball-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort
					| sort

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-alpha-asc
					| sort-alpha-asc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-alpha-desc
					| sort-alpha-desc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-amount-asc
					| sort-amount-asc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-amount-desc
					| sort-amount-desc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-asc
					| sort-asc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-desc
					| sort-desc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-down
					| sort-down
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-numeric-asc
					| sort-numeric-asc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-numeric-desc
					| sort-numeric-desc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sort-up
					| sort-up
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-space-shuttle
					| space-shuttle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-spinner
					| spinner

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-spoon
					| spoon

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-square
					| square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-square-o
					| square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star
					| star

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star-half
					| star-half

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star-half-empty
					| star-half-empty
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star-half-full
					| star-half-full
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star-half-o
					| star-half-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-star-o
					| star-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sticky-note
					| sticky-note

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sticky-note-o
					| sticky-note-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-street-view
					| street-view

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-suitcase
					| suitcase

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sun-o
					| sun-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-support
					| support
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tablet
					| tablet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tachometer
					| tachometer

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tag
					| tag

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tags
					| tags

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tasks
					| tasks

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-taxi
					| taxi

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-television
					| television

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-terminal
					| terminal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumb-tack
					| thumb-tack

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-down
					| thumbs-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-o-down
					| thumbs-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-o-up
					| thumbs-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-up
					| thumbs-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ticket
					| ticket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-times
					| times

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-times-circle
					| times-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-times-circle-o
					| times-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tint
					| tint

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-down
					| toggle-down
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-left
					| toggle-left
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-off
					| toggle-off

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-on
					| toggle-on

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-right
					| toggle-right
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-up
					| toggle-up
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-trademark
					| trademark

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-trash
					| trash

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-trash-o
					| trash-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tree
					| tree

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-trophy
					| trophy

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-truck
					| truck

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tty
					| tty

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tv
					| tv
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-umbrella
					| umbrella

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-university
					| university

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-unlock
					| unlock

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-unlock-alt
					| unlock-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-unsorted
					| unsorted
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-upload
					| upload

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-user
					| user

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-user-plus
					| user-plus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-user-secret
					| user-secret

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-user-times
					| user-times

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-users
					| users

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-video-camera
					| video-camera

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-volume-down
					| volume-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-volume-off
					| volume-off

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-volume-up
					| volume-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-warning
					| warning
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wheelchair
					| wheelchair

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wifi
					| wifi

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wrench
					| wrench

		// Hand
		section.section.section-md.bg-white(id="hand")
			h3 Hand Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-grab-o
					| hand-grab-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-lizard-o
					| hand-lizard-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-down
					| hand-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-left
					| hand-o-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-right
					| hand-o-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-up
					| hand-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-paper-o
					| hand-paper-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-peace-o
					| hand-peace-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-pointer-o
					| hand-pointer-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-rock-o
					| hand-rock-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-scissors-o
					| hand-scissors-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-spock-o
					| hand-spock-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-stop-o
					| hand-stop-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-down
					| thumbs-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-o-down
					| thumbs-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-o-up
					| thumbs-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-thumbs-up
					| thumbs-up

		// Transportation
		section.section.section-md.bg-white(id="transportation")
			h3 Transportation Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ambulance
					| ambulance

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-automobile
					| automobile
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bicycle
					| bicycle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bus
					| bus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cab
					| cab
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-car
					| car

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fighter-jet
					| fighter-jet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-motorcycle
					| motorcycle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plane
					| plane

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rocket
					| rocket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ship
					| ship

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-space-shuttle
					| space-shuttle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-subway
					| subway

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-taxi
					| taxi

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-train
					| train

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-truck
					| truck

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wheelchair
					| wheelchair

		// Gender
		section.section.section-md.bg-white(id="gender")
			h3 Gender Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-genderless
					| genderless

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-intersex
					| intersex
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mars
					| mars

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mars-double
					| mars-double

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mars-stroke
					| mars-stroke

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mars-stroke-h
					| mars-stroke-h

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mars-stroke-v
					| mars-stroke-v

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mercury
					| mercury

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-neuter
					| neuter

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-transgender
					| transgender

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-transgender-alt
					| transgender-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-venus
					| venus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-venus-double
					| venus-double

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-venus-mars
					| venus-mars

		// File type
		section.section.section-md.bg-white(id="file-type")
			h3 File Type Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file
					| file

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-archive-o
					| file-archive-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-audio-o
					| file-audio-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-code-o
					| file-code-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-excel-o
					| file-excel-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-image-o
					| file-image-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-movie-o
					| file-movie-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-o
					| file-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-pdf-o
					| file-pdf-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-photo-o
					| file-photo-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-picture-o
					| file-picture-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-powerpoint-o
					| file-powerpoint-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-sound-o
					| file-sound-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-text
					| file-text

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-text-o
					| file-text-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-video-o
					| file-video-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-word-o
					| file-word-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-zip-o
					| file-zip-o
					span.text-muted (alias)

		// Spinner
		section.section.section-md.bg-white(id="spinner")
			h3 Spinner Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle-o-notch
					| circle-o-notch

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cog
					| cog

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gear
					| gear
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-refresh
					| refresh

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-spinner
					| spinner

		// Form Control
		section.section.section-md.bg-white(id="form-control")
			h3 Form Control Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-square
					| check-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-check-square-o
					| check-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle
					| circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-circle-o
					| circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dot-circle-o
					| dot-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus-square
					| minus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-minus-square-o
					| minus-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-square
					| plus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-square-o
					| plus-square-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-square
					| square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-square-o
					| square-o

		// Payment
		section.section.section-md.bg-white(id="payment")
			h3 Payment Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-amex
					| cc-amex

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-diners-club
					| cc-diners-club

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-discover
					| cc-discover

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-jcb
					| cc-jcb

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-mastercard
					| cc-mastercard

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-paypal
					| cc-paypal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-stripe
					| cc-stripe

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-visa
					| cc-visa

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-credit-card
					| credit-card

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-credit-card-alt
					| credit-card-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-google-wallet
					| google-wallet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paypal
					| paypal

		// Chart
		section.section.section-md.bg-white(id="chart")
			h3 Chart Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-area-chart
					| area-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bar-chart
					| bar-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bar-chart-o
					| bar-chart-o
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-line-chart
					| line-chart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pie-chart
					| pie-chart

		// Currency
		section.section.section-md.bg-white(id="currency")
			h3 Currency Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bitcoin
					| bitcoin
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-btc
					| btc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cny
					| cny
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dollar
					| dollar
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eur
					| eur

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-euro
					| euro
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gbp
					| gbp

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gg
					| gg

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gg-circle
					| gg-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ils
					| ils

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-inr
					| inr

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-jpy
					| jpy

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-krw
					| krw

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-money
					| money

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rmb
					| rmb
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rouble
					| rouble
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rub
					| rub

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ruble
					| ruble
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rupee
					| rupee
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shekel
					| shekel
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sheqel
					| sheqel
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-try
					| try

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-turkish-lira
					| turkish-lira
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-usd
					| usd

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-won
					| won
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-yen
					| yen
					span.text-muted (alias)

		// Text Editor
		section.section.section-md.bg-white(id="text-editor")
			h3 Text Editor Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-align-center
					| align-center

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-align-justify
					| align-justify

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-align-left
					| align-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-align-right
					| align-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bold
					| bold

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chain
					| chain
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chain-broken
					| chain-broken

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-clipboard
					| clipboard

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-columns
					| columns

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-copy
					| copy
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cut
					| cut
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dedent
					| dedent
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eraser
					| eraser

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file
					| file

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-o
					| file-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-text
					| file-text

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-file-text-o
					| file-text-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-files-o
					| files-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-floppy-o
					| floppy-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-font
					| font

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-header
					| header

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-indent
					| indent

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-italic
					| italic

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-link
					| link

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-list
					| list

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-list-alt
					| list-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-list-ol
					| list-ol

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-list-ul
					| list-ul

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-outdent
					| outdent

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paperclip
					| paperclip

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paragraph
					| paragraph

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paste
					| paste
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-repeat
					| repeat

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rotate-left
					| rotate-left
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rotate-right
					| rotate-right
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-save
					| save
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-scissors
					| scissors

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-strikethrough
					| strikethrough

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-subscript
					| subscript

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-superscript
					| superscript

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-table
					| table

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-text-height
					| text-height

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-text-width
					| text-width

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-th
					| th

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-th-large
					| th-large

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-th-list
					| th-list

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-underline
					| underline

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-undo
					| undo

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-unlink
					| unlink
					span.text-muted (alias)

		// Directional
		section.section.section-md.bg-white(id="directional")
			h3 Directional Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-double-down
					| angle-double-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-double-left
					| angle-double-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-double-right
					| angle-double-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-double-up
					| angle-double-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-down
					| angle-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-left
					| angle-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-right
					| angle-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angle-up
					| angle-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-down
					| arrow-circle-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-left
					| arrow-circle-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-o-down
					| arrow-circle-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-o-left
					| arrow-circle-o-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-o-right
					| arrow-circle-o-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-o-up
					| arrow-circle-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-right
					| arrow-circle-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-circle-up
					| arrow-circle-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-down
					| arrow-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-left
					| arrow-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-right
					| arrow-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrow-up
					| arrow-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows
					| arrows

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-alt
					| arrows-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-h
					| arrows-h

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-v
					| arrows-v

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-down
					| caret-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-left
					| caret-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-right
					| caret-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-down
					| caret-square-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-left
					| caret-square-o-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-right
					| caret-square-o-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-square-o-up
					| caret-square-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-caret-up
					| caret-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-circle-down
					| chevron-circle-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-circle-left
					| chevron-circle-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-circle-right
					| chevron-circle-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-circle-up
					| chevron-circle-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-down
					| chevron-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-left
					| chevron-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-right
					| chevron-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chevron-up
					| chevron-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-exchange
					| exchange

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-down
					| hand-o-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-left
					| hand-o-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-right
					| hand-o-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hand-o-up
					| hand-o-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-long-arrow-down
					| long-arrow-down

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-long-arrow-left
					| long-arrow-left

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-long-arrow-right
					| long-arrow-right

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-long-arrow-up
					| long-arrow-up

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-down
					| toggle-down
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-left
					| toggle-left
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-right
					| toggle-right
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-toggle-up
					| toggle-up
					span.text-muted (alias)

		// Video Player
		section.section.section-md.bg-white(id="video-player")
			h3 Video Player Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-arrows-alt
					| arrows-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-backward
					| backward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-compress
					| compress

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-eject
					| eject

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-expand
					| expand

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fast-backward
					| fast-backward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fast-forward
					| fast-forward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-forward
					| forward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pause
					| pause

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pause-circle
					| pause-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pause-circle-o
					| pause-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-play
					| play

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-play-circle
					| play-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-play-circle-o
					| play-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-random
					| random

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-step-backward
					| step-backward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-step-forward
					| step-forward

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stop
					| stop

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stop-circle
					| stop-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stop-circle-o
					| stop-circle-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-youtube-play
					| youtube-play

		// Brand
		section.section.section-md.bg-white(id="brand")
			h3 Brand Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-500px
					| 500px

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-adn
					| adn

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-amazon
					| amazon

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-android
					| android

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-angellist
					| angellist

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-apple
					| apple

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-behance
					| behance

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-behance-square
					| behance-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bitbucket
					| bitbucket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bitbucket-square
					| bitbucket-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bitcoin
					| bitcoin
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-black-tie
					| black-tie

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth
					| bluetooth

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-bluetooth-b
					| bluetooth-b

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-btc
					| btc

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-buysellads
					| buysellads

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-amex
					| cc-amex

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-diners-club
					| cc-diners-club

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-discover
					| cc-discover

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-jcb
					| cc-jcb

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-mastercard
					| cc-mastercard

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-paypal
					| cc-paypal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-stripe
					| cc-stripe

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-cc-visa
					| cc-visa

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-chrome
					| chrome

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-codepen
					| codepen

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-codiepie
					| codiepie

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-connectdevelop
					| connectdevelop

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-contao
					| contao

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-css3
					| css3

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dashcube
					| dashcube

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-delicious
					| delicious

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-deviantart
					| deviantart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-digg
					| digg

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dribbble
					| dribbble

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-dropbox
					| dropbox

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-drupal
					| drupal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-edge
					| edge

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-empire
					| empire

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-expeditedssl
					| expeditedssl

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-facebook
					| facebook

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-facebook-f
					| facebook-f
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-facebook-official
					| facebook-official

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-facebook-square
					| facebook-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-firefox
					| firefox

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-flickr
					| flickr

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fonticons
					| fonticons

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-fort-awesome
					| fort-awesome

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-forumbee
					| forumbee

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-foursquare
					| foursquare

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ge
					| ge
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-get-pocket
					| get-pocket

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gg
					| gg

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gg-circle
					| gg-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-git
					| git

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-git-square
					| git-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-github
					| github

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-github-alt
					| github-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-github-square
					| github-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gittip
					| gittip
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-google
					| google

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-google-plus
					| google-plus

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-google-plus-square
					| google-plus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-google-wallet
					| google-wallet

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-gratipay
					| gratipay

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hacker-news
					| hacker-news

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-houzz
					| houzz

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-html5
					| html5

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-instagram
					| instagram

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-internet-explorer
					| internet-explorer

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ioxhost
					| ioxhost

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-joomla
					| joomla

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-jsfiddle
					| jsfiddle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-lastfm
					| lastfm

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-lastfm-square
					| lastfm-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-leanpub
					| leanpub

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-linkedin
					| linkedin

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-linkedin-square
					| linkedin-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-linux
					| linux

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-maxcdn
					| maxcdn

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-meanpath
					| meanpath

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-medium
					| medium

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-mixcloud
					| mixcloud

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-modx
					| modx

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-odnoklassniki
					| odnoklassniki

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-odnoklassniki-square
					| odnoklassniki-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-opencart
					| opencart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-openid
					| openid

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-opera
					| opera

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-optin-monster
					| optin-monster

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pagelines
					| pagelines

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-paypal
					| paypal

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pied-piper
					| pied-piper

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pied-piper-alt
					| pied-piper-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pinterest
					| pinterest

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pinterest-p
					| pinterest-p

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-pinterest-square
					| pinterest-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-product-hunt
					| product-hunt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-qq
					| qq

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ra
					| ra
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-rebel
					| rebel

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reddit
					| reddit

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reddit-alien
					| reddit-alien

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-reddit-square
					| reddit-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-renren
					| renren

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-safari
					| safari

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-scribd
					| scribd

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-sellsy
					| sellsy

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-alt
					| share-alt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-share-alt-square
					| share-alt-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-shirtsinbulk
					| shirtsinbulk

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-simplybuilt
					| simplybuilt

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-skyatlas
					| skyatlas

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-skype
					| skype

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-slack
					| slack

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-slideshare
					| slideshare

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-soundcloud
					| soundcloud

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-spotify
					| spotify

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stack-exchange
					| stack-exchange

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stack-overflow
					| stack-overflow

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-steam
					| steam

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-steam-square
					| steam-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stumbleupon
					| stumbleupon

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stumbleupon-circle
					| stumbleupon-circle

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tencent-weibo
					| tencent-weibo

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-trello
					| trello

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tripadvisor
					| tripadvisor

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tumblr
					| tumblr

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-tumblr-square
					| tumblr-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-twitch
					| twitch

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-twitter
					| twitter

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-twitter-square
					| twitter-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-usb
					| usb

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-viacoin
					| viacoin

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-vimeo
					| vimeo

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-vimeo-square
					| vimeo-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-vine
					| vine

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-vk
					| vk

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wechat
					| wechat
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-weibo
					| weibo

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-weixin
					| weixin

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-whatsapp
					| whatsapp

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wikipedia-w
					| wikipedia-w

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-windows
					| windows

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wordpress
					| wordpress

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-xing
					| xing

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-xing-square
					| xing-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-y-combinator
					| y-combinator

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-y-combinator-square
					| y-combinator-square
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-yahoo
					| yahoo

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-yc
					| yc
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-yc-square
					| yc-square
					span.text-muted (alias)

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-yelp
					| yelp

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-youtube
					| youtube

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-youtube-play
					| youtube-play

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-youtube-square
					| youtube-square

		// Medical
		section.section.section-md.bg-white(id="medical")
			h3 Medical Icons

			.range.list-icon
				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-ambulance
					| ambulance

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-h-square
					| h-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heart
					| heart

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heart-o
					| heart-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-heartbeat
					| heartbeat

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-hospital-o
					| hospital-o

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-medkit
					| medkit

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-plus-square
					| plus-square

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-stethoscope
					| stethoscope

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-user-md
					| user-md

				.cell-sm-4.cell-md-3.fa-hover
					i.fa.fa-wheelchair
					| wheelchair