section.bg-primary.section-md
  .shell
    .range
      .cell-sm-4
        h3.wow.fadeInUpSmall(data-wow-delay=".2s" data-wow-duration='1.2s') Haven’t Found What You Like? Browse Our Other Demos
      .cell-sm-8
        p.wow.fadeInUpSmall(data-wow-delay=".5s" data-wow-duration='1.2s') Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business and Design.
        a(href='#').button.button-gray-light-outline.wow.fadeInUpSmall(data-wow-delay=".9s" data-wow-duration='1.2s') View now!
='\n'