-
  var
  brandName = 'Rhemasoft&#178;',
  logoDefault = 'sitelogo-174x40',
  //logoInverse = 'sitelogo-174x32',
  //logoInverse2 = 'sitelogo-174x32',
  getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
  seeFeaturesLink = 'section-see-features',
  includeLayoutPanel = false, 
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html',
  postVideo = 'video-post.',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html', 
  postAudio = 'audio-post.html', 
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      subtitle: 'Text',
      link: 'index.html',
     
    },
    {
      title: 'Store',
      subtitle: 'Text',
      link: '/shop-grid',
      dropdown: [
        {
          title: 'Software & Apps',
          link: 'header-default.html'
        },
        {
          title: 'Devices',
          link: 'header-default-dark.html'
        },
        {
          title: 'Games & Entertainment',
          link: 'header-modern.html'
        },
        {
          title: 'Deals',
          link: 'header-creative.html'
        }
      ]
    },
    {
      title: 'Products',
      subtitle: 'Text',
      link: '#',
      megamenu: [
        [
          {
            title: 'General',
            list: [
              {
                title: 'About',
                link: 'about.html'
              },
              {
                title: 'Our Team',
                link: 'our-team.html'
              },
              {
                title: 'Team Member Profile',
                link: teamMember
              },
              {
                title: 'Services',
                link: 'services.html'
              },
              {
                title: 'Single Service Page',
                link: 'single-service-page.html'
              }
            ]
          }
        ],
        [
          {
            title: 'General #2',
            list: [
              {
                title: 'Our Story',
                link: 'our-story.html'
              },
              {
                title: 'Monthly Events',
                link: 'monthly-events.html'
              },
              {
                title: 'Booking',
                link: 'booking.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Auxiliary',
            list: [
              {
                title: 'Contacts',
                link: 'contacts.html'
              },
              {
                title: 'FAQs',
                link: 'faqs.html'
              },
              {
                title: 'Pricing',
                link: 'pricing.html'
              },
              {
                title: 'Careers',
                link: 'careers.html'
              },
              {
                title: 'Clients',
                link: 'clients.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Special Pages',
            list: [
              {
                title: 'Maintenance',
                link: 'maintenance.html'
              },
              {
                title: '404 Page',
                link: '404-page.html'
              },
              {
                title: 'Search Results',
                link: 'search-results.html'
              },
              {
                title: 'Coming Soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Privacy Policy',
                link: 'privacy-policy.html'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'News',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Monthly Events',
          link: 'monthly-events.html'
        },
        {
          title: 'Event List',
          link: 'event-list.html'
        },
        {
          title: 'Single Event',
          link: 'single-event.html'
        }
      ]
    },
    {
      title: 'Be a Partner',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Post Formats',
          link: '#',
          dropdown: [
            {
              title: 'Standard post',
              link: postLink
            },
            {
              title: 'Nonstandard post with sidebar',
              link: 'nonstandard-post-with-sidebar.html'
            },
            {
              title: 'Nonstandard post',
              link: 'nonstandard-post.html'
            },

            {
              title: 'Gallery post',
              link: postSlider
            },
            {
              title: 'Image post',
              link: postImage
            },
            {
              title: 'Link post',
              link: blogPostLink
            },
            {
              title: 'Quote post',
              link: postQuote
            },
            {
              title: 'Video post',
              link: postVideo
            },
            {
              title: 'Audio post',
              link: postAudio
            }
          ]
        },
        {
          title: 'Blog Layouts',
          link: '#',
          dropdown: [
            {
              title: 'Classic Blog',
              link: 'classic-blog.html'
            },
            {
              title: 'Grid Blog',
              link: 'grid-blog.html'
            },
            {
              title: 'Masonry Blog',
              link: 'masonry-blog.html'
            },
            {
              title: 'Justify Blog',
              link: 'justify-blog.html'
            }
          ]
        },
        {
          title: 'Sidebar',
          link: '#',
          dropdown: [
            {
              title: 'Left Sidebar',
              link: 'left-sidebar.html'
            },
            {
              title: 'Right Sidebar',
              link: 'right-sidebar.html'
            },
            {
              title: 'No Sidebar',
              link: 'no-sidebar.html'
            }
          ]
        }
      ]
    },
    {
      title: 'Support',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Portfolio',
          link: 'portfolio.html'
        },
        {
          title: 'Single Portfolio',
          link: 'single-portfolio.html'
        }
      ]
    }
  ]