-
  var
  brandName = 'Rhemasoft&#178;',
  logoDefault = 'sitelogo-174x40',
  //logoInverse = 'sitelogo-174x32',
  //logoInverse2 = 'sitelogo-174x32',
  getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
  seeFeaturesLink = 'section-see-features',
  includeLayoutPanel = false, 
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html',
  postVideo = 'video-post.',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html', 
  postAudio = 'audio-post.html', 
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      subtitle: 'Text',
      link: '/',
     
    },
    {
      title: 'Services',
      subtitle: 'Text',
      link: '/shop-grid',
      dropdown: [
        {
          title: 'Software & Apps',
          link: 'header-default.html'
        },
        {
          title: 'Devices',
          link: 'header-default-dark.html'
        },
        {
          title: 'Games & Entertainment',
          link: 'header-modern.html'
        },
        {
          title: 'Deals',
          link: 'header-creative.html'
        }
      ]
    },
    {
      title: 'Store',
      subtitle: 'Text',
      link: '#',
      megamenu: [
        [
          {
            title: 'Software',
            list: [
              {
                title: 'Windows App',
                link: '#'
              },
              {
                title: 'Operating Systems(OS)',
                link: '#'
              },
              {
                title: 'Anti Viruses',
                link: '#'
              },
              {
                title: 'School Mgt. App',
                link: '#'
              },
              {
                title: 'Church Mgt. App',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'PCs & Devices',
            list: [
              {
                title: 'Servers',
                link: '#'
              },
              {
                title: 'Desptops',
                link: '#'
              },
              {
                title: 'Laptops',
                link: '#'
              },
              {
                title: 'Tablets',
                link: '#'
              },
              {
                title: 'Networking',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'Entertainment',
            list: [
              {
                title: 'Xbox games',
                link: '#'
              },
              {
                title: 'Play Stations',
                link: '#'
              },
              {
                title: 'PC games',
                link: '#'
              }
              /*{
                title: 'Careers',
                link: 'careers.html'
              },
              {
                title: 'Clients',
                link: 'clients.html'
              }*/
            ]
          }
        ],
        [
          {
            title: 'Mobile Phones',
            list: [
              {
                title: 'Iphones',
                link: '#'
              },
              {
                title: 'Samsung',
                link: '#'
              },
              {
                title: 'LG',
                link: '#'
              },
              {
                title: 'Techno',
                link: '#'
              },
              {
                title: 'Others',
                link: '#'
              }
            ]
          }
        ],
        [
          {
            title: 'Accessories',
            list: [
                  {
                    title: 'Computer Accessories',
                    link: '#'
                  },
                  {
                    title: 'Phone Accessories',
                    link: '#'
                  }
            ]
          }
        ]
      ]
    },
    {
      title: 'News',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Monthly Events',
          link: 'monthly-events.html'
        },
        {
          title: 'Event List',
          link: 'event-list.html'
        },
        {
          title: 'Single Event',
          link: 'single-event.html'
        }
      ]
    },
    {
      title: 'Be a Partner',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Post Formats',
          link: '#',
          dropdown: [
            {
              title: 'Standard post',
              link: postLink
            },
            {
              title: 'Nonstandard post with sidebar',
              link: 'nonstandard-post-with-sidebar.html'
            },
            {
              title: 'Nonstandard post',
              link: 'nonstandard-post.html'
            },

            {
              title: 'Gallery post',
              link: postSlider
            },
            {
              title: 'Image post',
              link: postImage
            },
            {
              title: 'Link post',
              link: blogPostLink
            },
            {
              title: 'Quote post',
              link: postQuote
            },
            {
              title: 'Video post',
              link: postVideo
            },
            {
              title: 'Audio post',
              link: postAudio
            }
          ]
        },
        {
          title: 'Blog Layouts',
          link: '#',
          dropdown: [
            {
              title: 'Classic Blog',
              link: 'classic-blog.html'
            },
            {
              title: 'Grid Blog',
              link: 'grid-blog.html'
            },
            {
              title: 'Masonry Blog',
              link: 'masonry-blog.html'
            },
            {
              title: 'Justify Blog',
              link: 'justify-blog.html'
            }
          ]
        },
        {
          title: 'Sidebar',
          link: '#',
          dropdown: [
            {
              title: 'Left Sidebar',
              link: '#'
            },
            {
              title: 'Right Sidebar',
              link: '#'
            },
            {
              title: 'No Sidebar',
              link: '#'
            }
          ]
        }
      ]
    },
    {
      title: 'Support',
      subtitle: 'Text',
      link: '/support',
      /*dropdown: [
        {
          title: 'Portfolio',
          link: '#'
        },
        {
          title: 'Contact Us',
          link: '/contact'
        }
      ]*/
    }
  ]