extends  _skeleton

//- Includes
include elements/_ui-list-inline-icon
include elements/_ui-pricing-table
include elements/_ui-thumbnail-classic

block variables
  - var activeIndex = 0
  - var footerLink = true
  - var pageName = 'Home'

block page
  // Page Header
  include sections/_header-corporate

  include sections/_section-slider-business

  // Presentation
  section.section-lg.bg-white.text-center(id=seeFeaturesLink)
    .shell
      .range.range-md-center
        .cell-md-10.cell-lg-8
          h3
            | Welcome to Rhemasoft
            br
            //| a Variety of Features
          p A place where we build fast and reliable mobile, web and desktop  Apps for your business growth. THe satisfaction of our customers is our pride, so we serve you better.
      .range.range-50
        .cell-sm-6.cell-lg-3
          +thumbnail-classic({
            img: 'servise-1-418x315',
            title: 'User friendly Softwares',
            text: 'Softwares created by Rhemasoft are easy to use with massive video tutotials taking you through at each stage in your own pace.'
          })
        .cell-sm-6.cell-lg-3
          +thumbnail-classic({
            img: 'servise-2-418x315',
            title: 'Computers and Workstations',
            text: 'We sell high performance computers and Workstations that can drive your business to meet all your computing needs'
          })
        .cell-sm-6.cell-lg-3
          +thumbnail-classic({
            img: 'servise-3-418x315',
            title: 'Mobile Application',
            text: 'Put your business on the finger tips of your clients by creating a stunding mobile app with us for customers to have easy access to your products.'
          })
        .cell-sm-6.cell-lg-3
          +thumbnail-classic({
            img: 'servise-4-418x315',
            title: 'Be a Partner',
            text: 'The main thing is that the client should be satisfied. Together with Rhemasoft you give what he/she wants quick, profitable and satisfied.'
          })  
  ='\n'

  // Consistency is the Key
  section.section-lg.bg-primary
    .shell
      .range.range-sm-center.range-md-reverse.range-md-middle.range-md-justify.range-50
        .cell-sm-9.cell-md-5
          h3 Consistency is the Key
          p Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.

        .cell-sm-9.cell-md-6
          figure
            +jpg('home-bus-1-652x491')

  ='\n'

  // Counters
  section.section-lg.bg-primary.text-center
    .shell
      .range.range-sm-center.range-50
        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-coffee-cup
            .box-counter__wrap
              .counter 1000
            p.box-counter__title Coffee Cups

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-cube
            .box-counter__wrap
              .counter 74
            p.box-counter__title Projects Done

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-chevrons-expand-horizontal
            .box-counter__wrap
              .counter 5
              span bln+
            p.box-counter__title Lines of Code Written

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-mustache-glasses
            .box-counter__wrap
              .counter 147
            p.box-counter__title Happy Customers
  ='\n'

  // Pricing Table
  section.section-md.bg-white.text-center
    .shell
      h3 Pricing Table
      .range.range-50
        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Websites',
            price: '$200/yr'
          })
            ul.list
              li
                span Unlimited Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            class: 'pricing-table-label',
            label: 'most popular',
            title: 'School Mgt.',
            price: '$250'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'POS',
            price: '$150'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Mobile Apps',
            price: '$300'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases
  ='\n'

  include sections/_section-cta-1

  // Share Your Company Testimonials
  section.section-lg.bg-white.text-center
    .shell
      h3 Share Your Company Testimonials
      .range.range-50
        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
            p.quote-default__cite Jane Smith

        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
            p.quote-default__cite James Wilson

        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-3-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Sam Lee
  ='\n'

  include sections/_section-cta-6
  include sections/_section-brand-carousel
  section.section-lg.amazing-features.text-center
    .shell
      .range.range-50
        .cell-sm-6.cell-md-5
        .cell-sm-6.cell-md-5
          h3 AMAZING FEATURES
          h5 Not all modern apps are made equal but our products have a lot of features that you may find useful.
          ul.list-bordered
            li: .unit.unit-vertical.unit-middle.unit-spacing-sm
              .unit__left: span.icon.icon-md.icon-primary.linear-icon-map-marker
              .unit__body: dl.list-terms-modern 
                dt BEAUTIFUL, MODERN DESIGN
                //dd: ul.list-semicolon 
                  li Our apps offer our customers responsive and functional design that looks beautiful and modern in comparison with many other products on the market of free apps.  
            li: .unit.unit-vertical.unit-middle.unit-spacing-sm
              .unit__left: span.icon.icon-md.icon-primary.linear-icon-gear
              .unit__body: dl.list-term-modern
                dt EASY TO SET UP
                //If you are looking for a specific app with a feature of extensive customization, our apps can become your perfect choice. From changing the look of the interface to installing new modules, we got you covered.  
  .shell.subscribe.text-center
    h2 SUBSCRIBE TO OUR NEWSLETTER
    h4.txtfooterone Subscribe to get latest news and product updates
    p.text-center
    // RD Mailform
    form.rd-mailform.rd-mailform_style-1.rd-mailform_sizing-1.rd-mailform-inline-flex.text-center#form-subscribe
      .form-wrap.form-wrap_icon.linear-icon-envelope
        input#subscription-email.form-input(type="email" name="email" data-constraints="@Email @Required")
        label.form-label(for="subscription-email").txtfootertextbox Your Email address
      button(type="submit").button.button-primary#txtfooterbtn Subscribe
    //.thank-msg-notify.hide-me Спасибо, что подписались на наши новости!
    
  // Page Footer
  include sections/_footer-corporate

block modals 
  include includes/_modal-login
  include includes/_modal-register