extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-progress-bar-linear

block variables
  - var activeIndex = 7
  - var pageName = 'Animated Counter'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-lg.bg-white.text-center
    .shell
      .range.range-sm-center
        .cell-sm-10.cell-md-8.cell-lg-6
          +progress-bar-linear({
            title: "Website Update Progress",
            valueTo: "49"
          })

          +progress-bar-linear({
            title: "Novi Builder",
            valueTo: "29"
          })

          +progress-bar-linear({
            title: "Flexible and Multipurpose",
            valueTo: "86"
          })

  ='\n'

  section.section-lg.bg-white.text-center
    .shell
      .range.range-sm-center
        .cell-sm-10.cell-md-8.cell-lg-6
          +progress-bar-linear({
            title: "Website Update Progress",
            progressStyle: "progress-linear-modern",
            valueTo: "49"
          })

          +progress-bar-linear({
            title: "Novi Builder",
            progressStyle: "progress-linear-modern",
            valueTo: "29"
          })

          +progress-bar-linear({
            title: "Flexible and Multipurpose",
            progressStyle: "progress-linear-modern",
            valueTo: "86"
          })

  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

