extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-rd-parallax
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 2
  - var pageName = 'Booking'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-lg.bg-white.text-center
    .shell
      h3 Book an Appointment
      // RD Calendar
      .booking-calendar#chapters-select
        .rdc-panel.text-center
          a.rdc-prev
          h4
            span.rdc-month
            =' '
            span.rdc-fullyear
          a.rdc-next
        .rdc-table
        .rdc-events
          a.rdc-events_close
          ul.list-unstyled
            li.rdc-event(data-date='01/15/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span January 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am
                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment

            li.rdc-event(data-date='02/14/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span February 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment


            li.rdc-event(data-date='03/14/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span March 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am
                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment

            li.rdc-event(data-date='04/14/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span April 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am
                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment

            li.rdc-event(data-date='05/14/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span May 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am
                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment

            li.rdc-event(data-date='06/14/2017')
              table.table.rdc-event-booking-table
                thead
                  tr
                    th(colspan="3"): p.heading-5 Available Appointments on #[span June 14, 2016]
                tbody
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 8:00am - 9:00am
                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment
                  tr
                    td
                      dl.dl-horizontal-mod-1
                        dt: span.icon.icon-md.icon-primary.linear-icon-clock3
                        dd
                          time(datetime="2016") 10:30am - 11:00am

                    td
                      span 2 time slots available
                    td.text-sm-right: button.button.button-primary(data-toggle="modal" data-target="#appointment") Book Appointment

      // Modal
      include ../sections/_section-modal

  // Page Footer
  include ../sections/_footer-corporate

