extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-panel

block variables
  - var activeIndex = 7
  - var pageName = 'Circles Counter'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  .section-lg.bg-white
    include ../sections/_section-circle-counters-dark

  section.section-lg.bg-white.text-center
    .shell
      .range.range-xs-center.range-60
        .cell-sm-4.cell-lg-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.45", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Pixel perfect typography
        .cell-sm-4.cell-lg-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.60", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Novi Builder
        .cell-sm-4.cell-lg-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.80", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Made for People

  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

