extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-rd-parallax

block variables
  - var activeIndex = 2
  - var pageName = 'Coming soon'

block page
  section.bg-primary.text-center.bg-image.bg-image-bottom.fullwidth-page(style='background-image: url(images/bg-image-5.jpg);')
    .section-sm
      .shell
        .range.range-xs-center
          .cell-sm-10.cell-lg-8
            h2 This Site is Coming Soon
            .countdown.countdown-default(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
            h5 Sign up to Receive Updates
            p Get both our special offers and our web design tips directly to your inbox!
            form.rd-mailform.rd-mailform-inline-flex.text-center(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .form-wrap.form-wrap_icon.linear-icon-man
                input#contact-name.form-input(type="text" name="name" data-constraints='@Required' placeholder='Your Name')
              .form-wrap.form-wrap_icon.linear-icon-envelope
                input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required" placeholder="Your e-mail")
              button(type="submit").button.button-gray-base send
