extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-panel
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 2
  - var pageName = 'Contacts'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section
    include ../sections/_section-gmap

  section.section-md.bg-white
    .shell
      .range.range-50
        .cell-sm-5.cell-md-4
          h3 Contact Details
          ul.list-xs.contact-info
            li
              dl.list-terms-minimal
                dt Address
                dd 4578 Marmora Road, Glasgow, D04 89GR

            li
              dl.list-terms-minimal
                dt Phones
                dd: ul.list-semicolon
                  li: a(href='callto:#') (800) 123-0045
                  li: a(href='callto:#') (800) 123-0045

            li
              dl.list-terms-minimal
                dt E-mail
                dd: a(href='mailto:#') info@demolink.org

            li
              dl.list-terms-minimal
                dt We are open
                dd Mn-Fr: 10 am-8 pm
            li
              +list-inline-icon({
                  list_class: 'list-inline-sm',
                  items: [
                      "icon-sm fa-facebook",
                      'icon-sm fa-twitter',
                      'icon-sm fa-google-plus',
                      'icon-sm fa-vimeo',
                      'icon-sm fa-youtube',
                      'icon-sm fa-pinterest-p']
              })
        .cell-sm-7.cell-md-8
          h3 Let’s Get in Touch
          // RD Mailform
          form.rd-mailform.rd-mailform_style-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap.form-wrap_icon.linear-icon-man
              input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
              label.form-label(for="contact-name") Your name

            .form-wrap.form-wrap_icon.linear-icon-envelope
              input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") Your e-mail

            .form-wrap.form-wrap_icon.linear-icon-telephone
              input#contact-phone.form-input(type="text" name="phone" data-constraints='@Numeric')
              label.form-label(for="contact-phone") Your phone

            .form-wrap.form-wrap_icon.linear-icon-feather
              textarea#contact-message.form-input(name="message" data-constraints="@Required")
              label.form-label(for="contact-message") Your message

            button(type="submit").button.button-primary send




  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

