extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 7
  - var pageName = 'Countdown'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], ['Countdown Timer']]
  })

  // Countdown
  section.section-lg.bg-white.text-center
    .shell
      .countdown.countdown-default(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Countdown
  section.section-xl.bg-primary.bg-image.bg-image-bottom.text-center(style='background-image: url(images/bg-image-1.jpg);')
    .shell
      .countdown.countdown-default(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Countdown
  section.section-lg.bg-white.text-center
    .shell
      .countdown.countdown-default.countdown-primary(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

