extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 3
  - var pageName = 'List Events'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.bg-white.section-lg
    .shell
      .range.range-60
        .cell-xs-12
          .calendar-box-search
            .calendar-box-search-inner
              form.rd-mailform.rd-mailform_style-1.rd-mailform-inline-flex()
                .form-wrap.form-wrap_icon.form-wrap_icon__label-outside.linear-icon-calendar-31
                  label.form-label-outside(for="event-date") Date
                  input#event-date.form-input(type="text" name="name" placeholder='Date' data-time-picker='date')
                .form-wrap.form-wrap_icon.form-wrap_icon__label-outside.linear-icon-magnifier
                  label.form-label-outside(for="event-search") Search
                  input#event-search.form-input(type="text" name="phone" placeholder='Search')
                button(type="submit").button.button-primary Find events

            .calendar-box-search-inner.text-center
              h6
                 a(href='.calendar-box-list-view' data-toggle="collapse") View As
              ul.calendar-box-list-view.list-xxs
                li
                  span.icon.linear-icon-clipboard-text List
                li
                  a(href='monthly-events.html').icon.linear-icon-calendar-full Month

        .cell-xs-12.text-center
          h3 Events
          
          .divider-wrap
            time(datetime='2017').text-primary September 2017
            
          .range.post-event
            .cell-sm-6
              +jpg('list-event-1-652x491')
            .cell-sm-6.text-sm-left.post-event-body
              h4: a(href='single-event.html').thumbnail-classic-title  HTML Widgets – A to Z
              time(datetime='2017').thumbnail-classic-time September 28, 2015 @ 8:00 am - October 5, 2015 @ 5:00 pm
              .events-detail
                address
                  span Big Theatre, 378, Main Street, San-Francisco, CA United States
                  a(href='#') + Google Map
              p When you need your company to have a new website or if you venture on updating your old webpage with a new look and functionality, the choices are versatile… Assuming that you will go the easy way and choose a template for your HTML website, the overall number of characteristics that you will need to keep in mind narrows down significantly. But how do you stay focused on what kind of a template you need and what do you want…
              span.button.button-lg.button-gray-light-outline $100
              a(href='single-event.html').button.button-link  Find out more
              
          .divider-wrap
            time(datetime='2017').text-primary September 2017
            
          .range.post-event
            .cell-sm-6
              +jpg('list-event-2-652x491')
            .cell-sm-6.text-sm-left.post-event-body
              h4: a(href='single-event.html').thumbnail-classic-title  HTML Plugins Explained
              time(datetime='2017').thumbnail-classic-time September 28, 2015 @ 8:00 am - October 5, 2015 @ 5:00 pm
              .events-detail
                address
                  span Big Theatre, 378, Main Street, San-Francisco, CA United States
                  a(href='#') + Google Map
              p When you need your company to have a new website or if you venture on updating your old webpage with a new look and functionality, the choices are versatile… Assuming that you will go the easy way and choose a template for your HTML website, the overall number of characteristics that you will need to keep in mind narrows down significantly. But how do you stay focused on what kind of a template you need and what do you want…
              span.button.button-lg.button-gray-light-outline $100

              a(href='single-event.html').button.button-link  Find out more
            
  section.bg-white
    +divider

  section.bg-white.section-sm
    .shell
      .range
        .cell-sm-6.text-sm-left
          h5 Events List Navigation
        .cell-sm-6.text-sm-right
          a(href='#').button.button-gray-base  EXPORT MONTH'S EVENTS


  // Page Footer
  include ../sections/_footer-corporate