extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 1
  - var pageName = 'Header Default Dark'

block page
  // Page header
  include ../sections/_header-default-dark
  include ../sections/_section-slider-creative

  section.section-lg.bg-white.text-center
    .shell
      .range.range-70
        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-1-418x315')

        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-2-418x315')

        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-3-418x315')

        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-4-418x315')

        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-5-418x315')

        .cell-sm-6.cell-md-4: a.link-image(href='#')
          +jpg('brand-6-418x315')
  ='\n'

  section.section-lg.bg-white
    .shell-fluid
      .range.range-condensed
        .cell-sm-8
          +jpg('images-10-1280x640')
        .cell-sm-4
          +jpg('images-11-640x640')
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

