extends  ../_skeleton

//- Includes
include ../elements/_ui-list-inline-icon
include ../elements/_ui-pricing-table

block variables
  - var activeIndex = 0
  - var footerLink = true
  - var pageName = 'Home Business'

block page
  // Page Header
  include ../sections/_header-corporate

  include ../sections/_section-slider-business

  // Presentation
  section.section-lg.bg-white.text-center(id=seeFeaturesLink)
    .shell
      .range.range-md-center
        .cell-md-10.cell-lg-8
          h3 Consistency is the key
          p Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.
      .range.range-50
        .cell-sm-6.cell-md-4
          // Blurb circle
          article.blurb.blurb-circle.blurb-circle_centered
            .blurb-circle__icon: span.icon.linear-icon-feather
            p.blurb__title Clean and Crispy Design
            p Monstroid² is crafted by top industry leaders with love, care and customer needs in mind. 

        .cell-sm-6.cell-md-4
          // Blurb circle
          article.blurb.blurb-circle.blurb-circle_centered
            .blurb-circle__icon: span.icon.linear-icon-menu3
            p.blurb__title Novi Builder
            p Use our Novi Builder to customize and update your website within seconds.

        .cell-sm-6.cell-md-4
          // Blurb circle
          article.blurb.blurb-circle.blurb-circle_centered
            .blurb-circle__icon: span.icon.linear-icon-bag2
            p.blurb__title Advanced UI Toolkit
            p Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.
  ='\n'

  // Impressive Features
  section.section-lg.bg-gray-lighter
    .shell
      .range.range-sm-center.range-md-reverse.range-md-middle.range-md-justify.range-50
        .cell-sm-9.cell-md-6
          h3 Impressive Features

          // Blurb minimal
          article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
            .unit__left
              .blurb-minimal__icon: span.icon.linear-icon-rocket
            .unit__body
              p.blurb__title Built for Speed
              p Built for speed and performance. Get best results at GTmetrix and Google PageSpeed.

          // Blurb minimal
          article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
            .unit__left
              .blurb-minimal__icon: span.icon.linear-icon-equalizer
            .unit__body
              p.blurb__title Flexible and Multipurpose
              p Monstroid² allows to create various websites for complex and scalable  projects.

          // Blurb minimal
          article.blurb.blurb-minimal: .unit.unit-horizontal.unit-spacing-md
            .unit__left
              .blurb-minimal__icon: span.icon.linear-icon-arrow-down-square
            .unit__body
              p.blurb__title Social Integration
              p You can easily integrate your Twitter and Facebook accounts with the website using the social widgets.

        .cell-sm-7.cell-md-4
          figure.image-sizing-1
            +png('home-business-1-388x608')
  ='\n'

  // Content Driven Design
  section.section-lg.bg-white
    .shell
      .range.range-sm-center.range-md-middle.range-md-justify.range-50
        .cell-sm-9.cell-md-5
          h3 Content Driven Design
          p Unlike many other templates Monstroid² is built around user content but not vice versa. Thus you may be sure when you add your own texts and images the template will look same cool and appealing.

        .cell-sm-9.cell-md-6
          .row.gallery-wrap
            .col-xs-6
              figure
                +jpg('home-default-3-301x227')
            .col-xs-6
              figure
                +jpg('home-default-4-301x227')
            .col-xs-6
              figure
                +jpg('home-default-5-301x227')
            .col-xs-6
              figure
                +jpg('home-default-6-301x227')
  ='\n'

  // Counters
  section.section-lg.bg-primary.text-center
    .shell
      .range.range-sm-center.range-50
        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-coffee-cup
            .box-counter__wrap
              .counter 1000
            p.box-counter__title Coffee Cups

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-cube
            .box-counter__wrap
              .counter 74
            p.box-counter__title Projects Done

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-chevrons-expand-horizontal
            .box-counter__wrap
              .counter 5
              span bln+
            p.box-counter__title Lines of Code Written

        .cell-sm-6.cell-md-3
          // Box counter
          article.box-counter
            .box-counter__icon.linear-icon-mustache-glasses
            .box-counter__wrap
              .counter 147
            p.box-counter__title Happy Customers
  ='\n'

  // Pricing Table
  section.section-md.bg-white.text-center
    .shell
      h3 Pricing Table
      .range.range-50
        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Starter',
            price: '$14.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            class: 'pricing-table-label',
            label: 'most popular',
            title: 'Standard',
            price: '$32.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Business',
            price: '$76.89 '
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Professional',
            price: '$89.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases
  ='\n'

  include ../sections/_section-cta-1

  // Share Your Company Testimonials
  section.section-lg.bg-white.text-center
    .shell
      h3 Share Your Company Testimonials
      .range.range-50
        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
            p.quote-default__cite Jane Smith

        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
            p.quote-default__cite James Wilson

        .cell-sm-6.cell-md-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-3-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Sam Lee
  ='\n'

  include ../sections/_section-cta-6
  include ../sections/_section-brand-carousel

  // Page Footer
  include ../sections/_footer-corporate

block modals 
  include ../includes/_modal-login
  include ../includes/_modal-register