extends  ../_skeleton

//- Includes
include ../elements/_ui-rd-video
include ../elements/_ui-list-inline-icon
include ../elements/_ui-thumbnail-classic

block variables
  - var activeIndex = 0
  - var footerLink = true
  - var pageName = 'Home Personal'

block page
  // Page Header
  header.page-header
    // RD Navbar
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar_transparent(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-static', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-stick-up-clone='false', data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true', data-md-stick-up-offset='30px', data-lg-stick-up-offset='50px', data-body-class='rd-navbar-absolute rd-navbar_transparent-linked')
        .rd-navbar-top-panel
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

            // RD Navbar Brand
            .rd-navbar-brand
              a.brand-name(href='index.html')
                +png(logoDefault)

          // RD Navbar Nav
          .rd-navbar-nav-wrap
            include ../includes/_nav

  include ../sections/_section-slider-personal

  // Presentation
  section.section-xl.bg-white(id=seeFeaturesLink)
    .shell
      .range
        .cell-md-4
          h3 About Me

        .cell-md-8
          figure.figure-inline.object-displacement-1
            +png('images-9-382x382', 'img-circle')
          p Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.
          p We’ve made a huge effort to give site owners access to the most innovative HTML template, which includes a variety of modern web technologies as well as smooth and clear design and easy-to-use interface. That’s why Monstroid² can definitely become your favorite template.

  ='\n'

  include ../sections/_section-circle-counters-dark

  // Blurbs
  section.section-lg.bg-white
    .shell
      .range.range-50
        .cell-md-4
          h3 What I Do

        .cell-sm-6.cell-md-4
          // Blurb minimal
          article.blurb.blurb-minimal
            .blurb-minimal__icon: span.icon.linear-icon-menu3
            p.blurb__title Novi Builder
            p This template comes with built-in Novi Builder. With its help you can quickly build custom HTML websites of any kind, and use our VIDE technology to accelerate your development and reduce QA time. Using this tool will provide you with lots of advantages.
        .cell-sm-6.cell-md-4
          // Blurb minimal
          article.blurb.blurb-minimal
            .blurb-minimal__icon: span.icon.linear-icon-users2
            p.blurb__title Made for People
            p Monstroid² is built for real users that enjoy easy website development and at the same are looking for a clear and stunning design. Our template can provide you with lots of child themes so you don’t need to buy other templates and adapt your website to them.
  ='\n'

  // Gallery
  section.section-lg.bg-white(data-photo-swipe-gallery='gallery')
    .shell-fluid
      .range.range-condensed
        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-3-1200x906.jpg', data-size='1200x906')
            figure
              +jpg('home-default-9-472x355')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-9-1200x905.jpg', data-size='1200x905')
            figure
              +jpg('home-commercial-2-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-10-1200x675.jpg', data-size='1200x675')
            figure
              +jpg('home-commercial-3-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-11-1200x1200.jpg', data-size='1200x1200')
            figure
              +jpg('home-commercial-4-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-12-1200x797.jpg', data-size='1200x797')
            figure
              +jpg('home-commercial-5-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-13-1200x800.jpg', data-size='1200x800')
            figure
              +jpg('home-commercial-6-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-14-1200x905.jpg', data-size='1200x905')
            figure
              +jpg('home-commercial-7-480x361')
            .thumb-modern__overlay

        .cell-sm-4.cell-lg-3
          a.thumb-modern(data-photo-swipe-item, href='images/image-original-6-1200x905.jpg', data-size='1200x905')
            figure
              +jpg('home-default-12-472x355')
            .thumb-modern__overlay
  ='\n'

  // Testimonials
  section.section-lg.bg-white
    .shell
      .range.range-50
        .cell-sm-4
          h3 Testimonials

        .cell-sm-8
          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q I love to use your ready-made and beautifully looking templates. They are available at very affordable prices and they save me a lot of time, and deliver from a lot of sweat and tears!
            p.quote-default__cite Adam Smith

          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
            p.quote-default__cite James Wilson
  ='\n'

  include ../sections/_section-cta-4

  // Contact Form
  section.section-lg.bg-white
    .shell
      .range.range-50
        .cell-md-4
          h3 Contact Form

        .cell-md-8
          // RD Mailform
          form.rd-mailform.rd-mailform_style-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap.form-wrap_icon.linear-icon-man
              input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
              label.form-label(for="contact-name") Your name

            .form-wrap.form-wrap_icon.linear-icon-envelope
              input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") Your e-mail

            .form-wrap.form-wrap_icon.linear-icon-telephone
              input#contact-phone.form-input(type="text" name="phone" data-constraints='@Numeric')
              label.form-label(for="contact-phone") Your phone

            .form-wrap.form-wrap_icon.linear-icon-feather
              textarea#contact-message.form-input(name="message" data-constraints="@Required")
              label.form-label(for="contact-message") Your message

            button(type="submit").button.button-primary send
  ='\n'

  // Footer corporate
  footer.footer-corporate
    .shell
      .footer-corporate__inner
        p.rights
          span!=brandName
          span &nbsp;
          span(id="copyright-year")
          | .
          if(footerLink)
            // {%FOOTER_LINK}

        ul.list-inline-xxs
          li: a.icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
          li: a.icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
          li: a.icon.icon-xxs.icon-primary.fa.fa-google-plus(href='#')
          li: a.icon.icon-xxs.icon-primary.fa.fa-vimeo(href='#')
          li: a.icon.icon-xxs.icon-primary.fa.fa-youtube(href='#')
          li: a.icon.icon-xxs.icon-primary.fa.fa-pinterest(href='#')
