extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-rd-parallax
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 3
  - var pageName = 'Monthly Events'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-lg.bg-white
    .shell
      .range.range-60
        .cell-xs-12
          .calendar-box-search
            .calendar-box-search-inner
              form.rd-mailform.rd-mailform_style-1.rd-mailform-inline-flex()
                .form-wrap.form-wrap_icon.form-wrap_icon__label-outside.linear-icon-calendar-31
                  label.form-label-outside(for="event-date") Events In
                  input#event-date.form-input(type="text" name="name" placeholder='Date' data-time-picker='date')
                .form-wrap.form-wrap_icon.form-wrap_icon__label-outside.linear-icon-magnifier
                  label.form-label-outside(for="event-search") Search
                  input#event-search.form-input(type="text" name="phone" placeholder='Search')
                button(type="submit").button.button-primary Find events

            .calendar-box-search-inner.text-center
              h6
                a(href='.calendar-box-list-view' data-toggle="collapse") View As
              ul.calendar-box-list-view.list-xxs
                li
                  span.icon.linear-icon-calendar-full Month
                li
                  a(href='event-list.html').icon.linear-icon-clipboard-text List

        .cell-xs-12.text-center
          // RD Calendar
          .rd-calendar
            .rdc-panel
              h3
                | Events for
                =' '
                span.rdc-month
                =' '
                span.rdc-fullyear
            .rdc-table
            .rdc-events
              a.rdc-events_close
              ul
                li.rdc-event(data-date='01/28/2017')
                  .thumbnail-classic
                    +jpg('services-3-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title The Power of Bootstrap Toolkit
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…

                li.rdc-event(data-date='01/31/2017')
                  .thumbnail-classic
                    +jpg('services-2-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title Novi Builder
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p Use our Novi Builder to customize and update your website within seconds.

                li.rdc-event(data-date='02/18/2017')
                  .thumbnail-classic
                    +jpg('services-3-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title The Power of Bootstrap Toolkit
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…

                li.rdc-event(data-date='02/15/2017')
                  .thumbnail-classic
                    +jpg('services-2-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title Novi Builder
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p Use our Novi Builder to customize and update your website within seconds.

                li.rdc-event(data-date='03/18/2017')
                  .thumbnail-classic
                    +jpg('services-3-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title The Power of Bootstrap Toolkit
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…

                li.rdc-event(data-date='04/14/2017')
                  .thumbnail-classic
                    +jpg('services-2-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title Novi Builder
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p Use our Novi Builder to customize and update your website within seconds.

                li.rdc-event(data-date='05/18/2017')
                  .thumbnail-classic
                    +jpg('services-3-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title The Power of Bootstrap Toolkit
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…

                li.rdc-event(data-date='06/14/2017')
                  .thumbnail-classic
                    +jpg('services-2-418x315')
                    .caption
                      h6: a(href='single-event.html').thumbnail-classic-title Novi Builder
                      time.thumbnail-classic-time(datetime='2017') October 30, 2017 @ 8:00 am - November 5, 2017 @ 5:00 pm
                      p Use our Novi Builder to customize and update your website within seconds.

            .rdc-panel-nav
              a.rdc-prev Prev month
              h5.veil.reveal-sm-block Calendar Month Navigation
              a.rdc-next Next month
              
        .cell-xs-12.text-right
          a(href='#').button.button-gray-base  EXPORT MONTH'S EVENTS


  // Page Footer
  include ../sections/_footer-corporate

