extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-pagination-classic
include ../elements/_ui-portfolio-item

block variables
  - var activeIndex = 5
  - var pageName = 'Portfolio'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })


  section.section-md.bg-white.text-center
    .shell
      h3 Portfolio
      .isotope-wrap.range.range-70
        .cell-xs-12
          ul.list-nav.isotope-filters.isotope-filters-horizontal
            li: a.active(data-isotope-filter='*', data-isotope-group='gallery' href='#') All
            li: a(data-isotope-filter='Category 1', data-isotope-group='gallery' href='#') Objects
            li: a(data-isotope-filter='Category 2', data-isotope-group='gallery' href='#') People

          .isotope.row(data-isotope-layout='fitRows', data-isotope-group='gallery')
            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
              +portfolio-item({
                album: true,
                href: 'single-portfolio.html',
                img: 'portfolio-1-418x315',
                label_text: 'Album',
                icon_class1: 'linear-icon-folder-picture',
                items: ['9 photos', 'Objects'],
                title: 'Portfolio Album',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-arrow-right'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
              +portfolio-item({
                single_img: true,
                number: 3,
                original: 'slider-slide-14-1920x1080',
                img: 'portfolio-2-418x315',
                icon_class1: 'linear-icon-picture',
                items: ['Objects'],
                title: 'Photo',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-plus'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
              +portfolio-item({
                album: true,
                href: 'single-portfolio.html',
                img: 'portfolio-3-418x315',
                label_text: 'Album',
                icon_class1: 'linear-icon-folder-picture',
                items: ['9 photos', 'Objects'],
                title: 'Portfolio Album',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-arrow-right'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 1')
              +portfolio-item({
                single_img: true,
                number: 3,
                original: 'image-original-6-1200x905',
                img: 'portfolio-4-418x315',
                icon_class1: 'linear-icon-picture',
                items: ['Objects'],
                title: 'Photo',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-plus'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
              +portfolio-item({
                album: true,
                href: 'single-portfolio.html',
                img: 'portfolio-5-418x315',
                label_text: 'Album',
                icon_class1: 'linear-icon-folder-picture',
                items: ['9 photos', 'Objects'],
                title: 'Portfolio Album',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-arrow-right'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
              +portfolio-item({
                single_img: true,
                number: 3,
                original: 'portfolio-orginal-6-1200x675',
                img: 'portfolio-6-418x315',
                icon_class1: 'linear-icon-picture',
                items: ['Objects'],
                title: 'Photo',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-plus'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
              +portfolio-item({
                single_img: true,
                number: 3,
                original: 'gallery-post-1-886x668',
                img: 'portfolio-7-418x315',
                icon_class1: 'linear-icon-picture',
                items: ['Objects'],
                title: 'Photo',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-plus'
              })

            .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='Category 2')
              +portfolio-item({
                single_img: true,
                number: 3,
                original: 'day-events-1-886x668',
                img: 'portfolio-8-418x315',
                icon_class1: 'linear-icon-picture',
                items: ['Objects'],
                title: 'Photo',
                desc: 'Creating Portfolio.',
                icon_class2: 'linear-icon-plus'
              })
              

        .cell-xs-12
          +pagination-classic(1,
          [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}],
          null,
          {"title": "", "href": "#"}
          )

  // Page Footer
  include ../sections/_footer-corporate

