extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-pricing-table

block variables
  - var activeIndex = 7
  - var pageName = 'Pricing Table'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-md.bg-white
    .shell
      .range.range-50
        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Starter',
            price: '$14.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
            +pricing-table({
              class: 'pricing-table-label',
              label: 'most popular',
              title: 'Standard',
              price: '$32.89'
            })
              ul.list
                li
                  span 10GB Storage amount
                li Unlimited users
                li 30GB Bandwidth
                li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Business',
            price: '$76.89 '
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

        .cell-sm-6.cell-lg-3
          +pricing-table({
            title: 'Professional',
            price: '$89.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li 30GB Bandwidth
              li 20 MySQL Databases

  +divider

  section.section-md.bg-white.text-center.text-sm-left
    .shell
      .range.range-50.range-md-center
        .cell-sm-6.cell-md-4.cell-lg-3
          .pricing-table-wrap
            .pricing-table-custom
              h5 Available options
              ul.list-xxs.small
                li Supported projects
                li Amount of space
                li Supported users
                li Allowed bandwidth

        .cell-sm-6.cell-md-4.cell-lg-3
            +pricing-table({
                class: 'pricing-table-label',
                label: 'most popular',
                title: 'Standard',
                price: '$32.89'
            })
              ul.list
                li
                  span 10GB Storage amount
                li Unlimited users
                li: span.icon.icon-secondary-2.linear-icon-cross2
                li 20 MySQL Databases

        .cell-sm-6.cell-md-4.cell-lg-3
          +pricing-table({
              title: 'Business',
              price: '$76.89 '
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li: span.icon.icon-primary.linear-icon-check
              li 20 MySQL Databases

        .cell-sm-6.cell-md-4.cell-lg-3
          +pricing-table({
              title: 'Professional',
              price: '$89.89'
          })
            ul.list
              li
                span 10GB Storage amount
              li Unlimited users
              li: span.icon.icon-primary.linear-icon-check
              li 20 MySQL Databases


  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

