extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-shop-list
include ../elements/_ui-pagination-classic

block variables
  - var activeIndex = 6
  - var pageName = 'Shop List'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-md.bg-white
    .shell
      .range.range-60.range-md-reverse
        .cell-md-9.section-divided__main.section-divided__main-left
          section.section-sm
            .filter-shop-box
              p
                | Showing 1–12 of 15 results

              .form-wrap
                //Select 2
                select.form-input.select-filter(data-placeholder="Default sorting" data-minimum-results-for-search="Infinity")
                  option Default sorting
                  option(value="2") Sort by popularity
                  option(value="3") Sort by average rating
                  option(value="4") Sort by newness
                  option(value="5") Sort by price: low to high
                  option(value="6") Sort by price: high to low

            .range.range-xs-center.range-70
              .cell-xs-12
                +shop-list({
                  href: 'single-product.html',
                  img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-418x560',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'featured',
                  label_text: 'Featured',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Accessories', 'Shoes' ,'Sport' ,'Women'],

                  title: 'Adidas Originals Trefoil Logo Snapback Trucker Cap',
                  prices: ['48'],

                  product_desc: 'Fashion has always been so temporary and uncertain. You can’t keep up with it.This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.',

                  button_class: 'button-primary',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

              .cell-xs-12
                +shop-list({
                  href: 'single-product.html',
                  img: 'Undiz-Catchiz-Push-Up-Racerback-Bra_1-418x560',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'new',
                  label_text: 'New',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Men', 'Shoes' ,'Sport' ,'Women'],

                  title: 'Undiz Catchiz Push Up Racerback Bra',
                  prices: ['17'],

                  product_desc: 'This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.Therefore being fashionable costs a lot of money.',

                  button_class: 'button-gray-light-outline',
                  button_icon_class: 'linear-icon-magic-wand',
                  button_text: 'Select options'
                })

              .cell-xs-12
                +shop-list({
                  href: 'single-product.html',
                  img: 'TALL-Denim-Shrunken-Jacket-in-Mid-Blue-Wash-418x560',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  class_label: 'sale',
                  label_text: 'Sale',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Men', 'Women'],

                  title: 'TALL Denim Shrunken Jacket in Mid Blue Wash',

                  price_class:'sale-price',
                  prices: ['12','17'],

                  product_desc: 'We are lucky to have an opportunity to buy qualitative, fashionable and affordable clothes.Obviously there is nothing wrong about it because fashion satisfies our willingness to be attractive.',

                  button_class: 'button-primary',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

              .cell-xs-12
                +shop-list({
                  href: 'single-product.html',
                  img: 'Nike-Swoosh-Cap-418x560',
                  icon_class1: 'linear-icon-heart',
                  icon_class2: 'linear-icon-balance',

                  tag_list_class: 'product-categories',
                  tag_list_items: ['Men' ,'Sport' ,'Women'],

                  title: 'Nike Swoosh Cap',
                  prices: ['22'],

                  product_desc: 'Our product is universal because it suits different customers with different demands.Fashion has always been so temporary and uncertain.',

                  button_class: 'button-primary',
                  button_icon_class: 'linear-icon-cart',
                  button_text: 'Add to cart'
                })

          // Pagination
          section.section-sm
            +pagination-classic(1,
              [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}],
              null,
              {"title": "", "href": "#"}
            )

        .cell-md-3.section-divided__aside.section__aside-left
          include ../sections/_section-aside-sidebar-shop

  // Page Footer
  include ../sections/_footer-corporate