extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-shop-grid
include ../elements/_ui-tag-list

block variables
  - var activeIndex = 6
  - var pageName = 'Single Product'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-sm.bg-white
    .shell
      .range.range-60
        .cell-sm-6.cell-md-5
          // Slick Carousel
          .slick-slider.carousel-parent(data-arrows="false", data-loop="false", data-dots="false", data-swipe="true", data-items="1" data-child="#child-carousel", data-for="#child-carousel" data-photo-swipe-gallery='gallery')
            .item
              +img-thumbnail({
                number: 2,
                original: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-535x714',
                img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-535x714'
              })
            .item
              +img-thumbnail({
                number: 2,
                original: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-1-535x714',
                img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-1-535x714'
              })

            .item
              +img-thumbnail({
                number: 2,
                original: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-3-535x714',
                img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-3-535x714'
              })

            .item
              +img-thumbnail({
                number: 2,
                original: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-2-535x714',
                img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-2-535x714'
              })

          .slick-slider#child-carousel(data-for=".carousel-parent", data-arrows="false",
                  data-loop="false", data-dots="false", data-swipe="true",
                  data-items="3", data-xs-items="4", data-sm-items="4",
                  data-md-items="4", data-lg-items="5", data-slide-to-scroll="1")
            .item
              +jpg('adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-89x120')
            .item
              +jpg('adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_1-89x120')
            .item
              +jpg('adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_3-89x120')
            .item
              +jpg('adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_2-89x120')

        .cell-sm-6.cell-md-7
          .product-single
            p.product-stock In stock
            h4 Adidas Originals Trefoil Logo Snapback Trucker Cap

            p.product-price
              span 45
            ul.rating-list
              li: span.icon.linear-icon-star.icon-secondary-4
              li: span.icon.linear-icon-star.icon-secondary-4
              li: span.icon.linear-icon-star.icon-secondary-4
              li: span.icon.linear-icon-star.icon-secondary-4
              li: span.icon.linear-icon-star.icon-gray-4

            p.product-text Fashion has always been so temporary and uncertain. You can’t keep up with it.This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.

            .form-wrap.product-select
              //Select 2
              select.form-input.select-filter(data-placeholder="Size", data-minimum-results-for-search="Infinity")
                option Size
                option(value="2") XS
                option(value="3") S
                option(value="4") M
                option(value="5") L
                option(value="6") XL

            .group
              input.form-input(type="number" data-zeros="true" value="1" min="1" max="50")
              button(type='submit').button.button-primary.button-icon.button-icon-left
                span.icon.icon-md.linear-icon-cart
                span Add to cart

            .product-icon-wrap
              span.icon.icon-md.linear-icon-heart(data-toggle='tooltip' data-original-title='Add to Wishlist')
              span.icon.icon-md.linear-icon-balance(data-toggle='tooltip' data-original-title='Add to Compare')

            ul.product-meta
              li
                dl.list-terms-minimal
                  dt SKU
                  dd 256
              li
                dl.list-terms-minimal
                  dt Category
                  dd
                    +tag-list({
                      list_class: 'product-categories',
                      href: 'single-product.html',
                      items: ['Accessories', 'Shoes', 'Sport', 'Women']
                    })
              li
                dl.list-terms-minimal
                  dt Tags
                  dd
                    +tag-list({
                      list_class: 'product-categories',
                      href: 'single-product.html',
                      items: ['skirt', 'Shoes' ,'style' ,'trend']
                    })

        .cell-xs-12
          // Bootstrap tabs
          #tabs-1.tabs-custom.tabs-horizontal
            // Nav tabs
            ul.nav-custom.nav-custom-tabs.nav-custom__align-left
              li.active: a(href='#tabs-1-1' data-toggle='tab') DESCRIPTION
              li: a(href='#tabs-1-2' data-toggle='tab') ADDITIONAL INFORMATION
              li: a(href='#tabs-1-3' data-toggle='tab') REVIEWS (1)

          .tab-content.text-left
            div#tabs-1-1.tab-pane.fade.in.active
              h5 Product Description
              p Fashion has always been so temporary and uncertain. You can’t keep up with it.  This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies. Obviously there is nothing wrong about it because fashion satisfies our willingness to be attractive. And also fashion is the detector of prosperity and social rank. So, our natural desire to wear fashionable clothes has many reasons such as historical, social and others. Therefore being fashionable costs a lot of money. But nowadays fashion is not such unavailable as it was a couple of centuries ago. We are lucky to have an opportunity to buy qualitative, fashionable and affordable clothes.

            div#tabs-1-2.tab-pane.fade
              h5 Additional Information

              table.table-product-info
                tbody
                  tr
                    td brand
                    td Gola Exclusive
                  tr
                    td manufacturer
                    td China
                  tr
                    td occasion
                    td Casual
                  tr
                    td season
                    td Winter/Autumn
                  tr
                    td wash
                    td Machine wash


            div#tabs-1-3.tab-pane.fade
              .range.range-60
                .cell-xs-12
                  h5 1 review for Adidas Originals Trefoil Logo Snapback Trucker Cap
  
                  .box-comment.box-comment__product
                    .unit.unit-xs-horizontal.unit-spacing-md
                      .unit__left
                        .box-comment__icon: span.icon.linear-icon-man
                      .unit__body
                        .box-comment__body
                          h6 Adam Smith
                          time(datetime='2017') - Jan.20, 2016
                          p This is a great online store.
                          ul.rating-list
                            li: span.icon.linear-icon-star.icon-secondary-4
                            li: span.icon.linear-icon-star.icon-secondary-4
                            li: span.icon.linear-icon-star.icon-secondary-4
                            li: span.icon.linear-icon-star.icon-secondary-4
                            li: span.icon.linear-icon-star.icon-gray-4
                            
                .cell-sm-8
                  h5 Add a review
                  p Your email address will not be published. Required fields are marked *
                  h6 Your Rating
                  ul.rating-list
                    li: span.icon.linear-icon-star.icon-gray-4
                    li: span.icon.linear-icon-star.icon-gray-4
                    li: span.icon.linear-icon-star.icon-gray-4
                    li: span.icon.linear-icon-star.icon-gray-4
                    li: span.icon.linear-icon-star.icon-gray-4

                  // RD Mailform
                  form.rd-mailform.rd-mailform_style-1.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                    .form-wrap.form-wrap_icon.linear-icon-man
                      input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
                      label.form-label(for="contact-name") Your name *

                    .form-wrap.form-wrap_icon.linear-icon-envelope
                      input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                      label.form-label(for="contact-email") Your e-mail *

                    .form-wrap.form-wrap_icon.linear-icon-telephone
                      input#contact-phone.form-input(type="text" name="phone" data-constraints='@Numeric')
                      label.form-label(for="contact-phone") Your phone *

                    .form-wrap.form-wrap_icon.linear-icon-feather
                      textarea#contact-message.form-input(name="message" data-constraints="@Required")
                      label.form-label(for="contact-message") Your message *

                    button(type="submit").button.button-primary SUBMIT

  +divider
  section.section-sm.bg-white
    .shell.text-center
      h5 Related Products
      // Owl Carousel
      .owl-carousel.carousel-product(data-items='1',data-sm-items='2', data-md-items='3',data-lg-items='4', data-stage-padding='0', data-loop='false', data-margin='50', data-mouse-drag="false" data-nav='true')
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            class_label: 'featured',
            label_text: 'Featured',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Shoes', 'Sport', 'Women'],

            title: 'Adidas Originals Trefoil Logo Snapback Trucker Cap',
            prices: ['48'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart',

            rating_list: true
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'ASOS-Sculpt-Me-Premium-Jeans-in-Clean-Black-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            class_label: 'new',
            label_text: 'New',

            tag_list_class: 'product-categories',
            tag_list_items: ['Men', 'Shoes', 'Sport', 'Women'],

            title: 'ASOS ‘Sculpt Me’ Premium Jeans in Clean Black',
            prices: ['45'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart'
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'ASOS-70s-Metal-Round-With-Flash-Flat-Lens_2-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            class_label: 'sale',
            label_text: 'Sale',

            tag_list_class: 'product-categories',
            tag_list_items: ['Men', 'Women'],

            title: 'ASOS 70s Metal Round With Flash Flat Lens',

            price_class: 'sale-price',
            prices: ['45', '56'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart',

            rating_list: true
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'ASOS-Cat-Eye-Sunglasses_2-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Men', 'Sport', 'Women'],

            title: 'ASOS Cat Eye Sunglasses',
            prices: ['36'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart'
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'ASOS-Denim-Shrunken-Jacket-In-Washed-Black_1-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Sport', 'Women'],

            title: 'ASOS Denim Shrunken Jacket In Washed',
            prices: ['16'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart'
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'ASOS-Patch-Pocket-Woven-Shorts-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Shoes', 'Sport', 'Women'],

            title: 'ASOS Patch Pocket Woven Shorts',
            prices: ['44'],

            button_class: 'button-primary',
            button_icon_class: 'linear-icon-cart',
            button_text: 'Add to cart',
            rating_list: true
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'Boopacks-Mini-Boo-Backpack-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Shoes', 'Sport', 'Women'],

            title: 'Boopacks Mini Boo Backpack',
            prices: ['34'],

            button_class: 'button-gray-light-outline',
            button_icon_class: 'linear-icon-magic-wand',
            button_text: 'Select options'
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'Calvin-Klein-Iron-Strength-Bralette-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Sport', 'Women'],

            title: 'Calvin Klein Iron Strength Bralette',
            prices: ['32'],

            button_class: 'button-gray-light-outline',
            button_icon_class: 'linear-icon-magic-wand',
            button_text: 'Select options'
          })
        .item
          +shop-grid({
            href: 'single-product.html',
            img: 'Cheap-Monday-Drift-High-Rise-Skinny-Ankle-Kick-Jeans_1-300x400',
            icon_class1: 'linear-icon-heart',
            icon_class2: 'linear-icon-balance',

            tag_list_class: 'product-categories',
            tag_list_items: ['Accessories', 'Shoes', 'Sport', 'Women'],

            title: 'Cheap Monday Drift High Rise Skinny Ankle Kick Jeans',
            prices: ['65'],

            button_class: 'button-gray-light-outline',
            button_icon_class: 'linear-icon-magic-wand',
            button_text: 'Select options',
            rating_list: true
          })


  // Page Footer
  include ../sections/_footer-corporate