extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-panel

block variables
  - var activeIndex = 7
  - var pageName = 'Slider'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
      path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-md.bg-white
    include ../sections/_section-slider-boxed
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

