extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 7
  - var pageName = 'Tabs'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  section.section-md.bg-white
    .shell
      // Bootstrap tabs
      #tabs-1.tabs-custom.tabs-horizontal
        // Nav tabs
        ul.nav-custom.nav-custom-tabs
          li.active: a(href='#tabs-1-1' data-toggle='tab') Responsive Design
          li: a(href='#tabs-1-2' data-toggle='tab') Retina Ready

      .tab-content.text-left
        div#tabs-1-1.tab-pane.fade.in.active
          h5 Advanced UI Kit
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time.
          h5 Details
          ul.list-marked
            li 10 Reasons to Buy Monstroid#[sup 2].
            li Getting to another  level of design
            li Clean Style. Cons and Pros.
        div#tabs-1-2.tab-pane.fade
          h5 Responsive & Retina Ready
          p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.
          h5 Details
          ul.list-marked
            li 10 Reasons to Buy Monstroid#[sup 2].
            li Getting to another  level of design


  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

