extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-list-inline-icon

block variables
  - var activeIndex = 2
  - var pageName = 'Team member profile'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  // Team member profile
  section.section-lg.bg-white
    .shell
      // Profile Corporate
      article.profile-corporate
        +jpg('brian-king-886x666', 'profile-corporate__image')

        .profile-corporate__caption
          p.profile-corporate__title Brian King
          p.profile-corporate__subtitle Director
          p Brian is the heart and soul of our team, and his responsibilities involve overseeing all the current projects our designers and developers have as well as managing our work and leading the negotiations with our partners.

          +list-inline-icon({
            list_class: ['list-inline-sm', 'profile-corporate__list'],
            items: [
              "icon-sm fa-facebook",
              'icon-sm fa-twitter',
              'icon-sm fa-google-plus',
              'icon-sm fa-vimeo',
              'icon-sm fa-youtube',
              'icon-sm fa-pinterest-p'
            ]
          })

  ='\n'

  section.section-lg.bg-white.text-center
    .shell
      .range.range-md-center
        .cell-md-10.cell-lg-8
          // RD Mailform
          form.rd-mailform.rd-mailform_style-1.text-center(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap.form-wrap_icon.linear-icon-man
              input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
              label.form-label(for="contact-name") Your name

            .form-wrap.form-wrap_icon.linear-icon-envelope
              input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") Your e-mail

            .form-wrap.form-wrap_icon.linear-icon-telephone
              input#contact-phone.form-input(type="text" name="phone" data-constraints='@Numeric')
              label.form-label(for="contact-phone") Your phone

            .form-wrap.form-wrap_icon.linear-icon-feather
              textarea#contact-message.form-input(name="message" data-constraints="@Required")
              label.form-label(for="contact-message") Your message

            button(type="submit").button.button-primary send
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

