extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
	- var activeIndex = 7
	- var pageName = 'Testimonials'

block page
	// Page header
	include ../sections/_header-default

	+breadcrumbs({
		path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
	})

	// Quotes
	section.section-lg.bg-white
		.shell
			// Owl Carousel
			.owl-carousel(data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-nav='true')
				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
						p.quote-default__cite Sam Lee
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			// Owl Carousel
			.owl-carousel(data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-dots='true')
				.item
					// Quote default
					.quote-default
						.quote-default__image
							+jpg('testimonials-1-120x120')
						.quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.item
					// Quote default
					.quote-default
						.quote-default__image
							+jpg('testimonials-2-120x120')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson

				.item
					// Quote default
					.quote-default
						.quote-default__image
							+jpg('testimonials-3-120x120')
						.quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
						p.quote-default__cite Sam Lee
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			// Owl Carousel
			.owl-carousel(data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-dots='true')
				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson

				.item
					// Quote default
					.quote-default
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
						p.quote-default__cite Sam Lee
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			.range.range-50
				.cell-sm-6.cell-md-4
					// Quote default
					.quote-default.quote-default_left-v2
						.quote-default__image
							+jpg('testimonials-1-120x120')
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.cell-sm-6.cell-md-4
					// Quote default
					.quote-default.quote-default_left-v2
						.quote-default__image
							+jpg('testimonials-2-120x120')
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson

				.cell-sm-6.cell-md-4
					// Quote default
					.quote-default.quote-default_left-v2
						.quote-default__image
							+jpg('testimonials-3-120x120')
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
						p.quote-default__cite Sam Lee
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			.range.range-50
				.cell-sm-6
					// Quote default
					.quote-default.quote-default_left
						.quote-default__image
							+jpg('testimonials-1-120x120')
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						p.quote-default__cite Jane Smith

				.cell-sm-6
					// Quote default
					.quote-default.quote-default_left
						.quote-default__image
							+jpg('testimonials-2-120x120')
						+quote-mark('quote-default__mark')
						.quote-default__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						p.quote-default__cite James Wilson
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			.range.range-50
				.cell-sm-6.cell-md-4
					// Quote bordered
					.quote-bordered
						+quote-mark('quote-bordered__mark')
						.quote-bordered__image
							+jpg('testimonials-1-120x120')
						.quote-bordered__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!
						.quote-bordered__caption
							p.quote-bordered__cite Jane Smith
							p.quote-bordered__small Designer

				.cell-sm-6.cell-md-4
					// Quote bordered
					.quote-bordered
						+quote-mark('quote-bordered__mark')
						.quote-bordered__image
							+jpg('testimonials-2-120x120')
						.quote-bordered__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!
						.quote-bordered__caption
							p.quote-bordered__cite James Wilson
							p.quote-bordered__small Designer

				.cell-sm-6.cell-md-4
					// Quote bordered
					.quote-bordered
						+quote-mark('quote-bordered__mark')
						.quote-bordered__image
							+jpg('testimonials-3-120x120')
						.quote-bordered__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
						.quote-bordered__caption
							p.quote-bordered__cite Sam Lee
							p.quote-bordered__small Designer
	='\n'

	+divider

	// Quotes
	section.section-lg.bg-white
		.shell
			.range.range-50
				.cell-sm-6.cell-md-4
					// Quote classic
					.quote-classic
						.quote-classic__main
							+quote-mark('quote-classic__mark')
							.quote-classic__text: p.q Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!

						.quote-classic__caption
							.quote-classic__image.quote-classic__caption-aside
								+jpg('testimonials-1-120x120')
							.quote-classic__caption-main
								p.quote-classic__cite Jane Smith
								p.quote-classic__small Designer

				.cell-sm-6.cell-md-4
					// Quote classic
					.quote-classic
						.quote-classic__main
							+quote-mark('quote-classic__mark')
							.quote-classic__text: p.q This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!

						.quote-classic__caption
							.quote-classic__image.quote-classic__caption-aside
								+jpg('testimonials-2-120x120')
							.quote-classic__caption-main
								p.quote-classic__cite James Wilson
								p.quote-classic__small Designer

				.cell-sm-6.cell-md-4
					// Quote classic
					.quote-classic
						.quote-classic__main
							+quote-mark('quote-classic__mark')
							.quote-classic__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!

						.quote-classic__caption
							.quote-classic__image.quote-classic__caption-aside
								+jpg('testimonials-3-120x120')
							.quote-classic__caption-main
								p.quote-classic__cite Sam Lee
								p.quote-classic__small Designer
	='\n'

	// Page Footer
	include ../sections/_footer-corporate

