extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-quote-centered

block variables
  - var activeIndex = 7
  - var pageName = 'Typography'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  .section-sm.section-divided
    .shell
      .range.range-50.range-sm-75
        .cell-md-8.section-divided__main
          // Base typography
          section.section-sm
            h5 Typography
            ul.list-md
              li
                h1 H1 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              li
                h2 H2 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h3 H3 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h4 H4 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h5 H5 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

              li
                h6 H6 Heading
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          ='\n'

          // Unordered list
          section.section-sm
            h5 Unordered list
            ul.list-marked
              li 10 Reasons to Buy Monstroid#[sup 2].
              li Getting to another  level of design
              li Clean Style. Cons and Pros.
          ='\n'

          // Ordered list
          section.section-sm
            h5 Ordered list
            ul.list-ordered
              li 10 Reasons to Buy Monstroid#[sup 2].
              li Getting to another  level of design
              li Clean Style. Cons and Pros.
          ='\n'

          // Blockquotes
          section.section-sm
            h5 Blockquotes
            +quote-centered({
              text: "Monstroid² is perfect to display the members of your staff, team or working force. ",
              cite: "Adam Smith"
            })
          ='\n'

          // Some other styles
          section.section-sm
            h5 Some other styles
            p.first-letter Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.

            ul.list-xxs
              li
                dl.list-terms-inline
                  dt Bold Text
                  dd: span.text-medium Whether you found me on YouTube
              li
                dl.list-terms-inline
                  dt Italic
                  dd: span.text-italic Whether you found me on YouTube
              li
                dl.list-terms-inline
                  dt Strike-through
                  dd: span.text-strike Whether you found me on YouTube
              li
                dl.list-terms-inline
                  dt Link
                  dd: a(href='#') Whether you found me on YouTube
              li
                dl.list-terms-inline
                  dt Inline Code
                  dd: code Whether you found me on YouTube
          ='\n'

          // Centre aligned image
          section.section-sm
            h5 Centre aligned image
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

            figure.figure.figure-centered
              +jpg('typography-1-418x315')
          ='\n'

          // Left aligned image
          section.section-sm
            h5 Left aligned image
            .range.range-sm-reverse.range-30
              .cell-sm-6
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              .cell-sm-6
                figure.figure
                  +jpg('typography-2-418x315')
          ='\n'

          // Right aligned image
          section.section-sm
            h5 Right aligned image
            .range.range-30
              .cell-sm-6
                p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              .cell-sm-6
                figure.figure
                  +jpg('typography-3-418x315')
          ='\n'

          // Large image should always fit
          section.section-sm
            h5 Large image should always fit
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

            figure.figure
              +jpg('typography-4-886x668')
          ='\n'


        .cell-md-4.section-divided__aside
          // Categories
          section.section-sm
            h5 Categories
            ul.list-linked
              li: a(href='#') Retina Homepage
              li: a(href='#') New Page Examples
              li: a(href='#') Parallax Sections
              li: a(href='#') Shortcode Central
              li: a(href='#') Ultimate Font Collection
          ='\n'

          // Posts
          section.section-sm
            h5 Latest Posts
            ul.list-sm
              li
                // Post inline
                article.post-inline
                  .post-inline__header
                    span.post-inline__time Jan.20, 2016
                    span.post-inline__author by Brian Williamson

                  p.post-inline__link: a(href=postLink) How to Use Bootstrap Framework
              li
                // Post inline
                article.post-inline
                  .post-inline__header
                    span.post-inline__time Jan.20, 2016
                    span.post-inline__author by Brian Williamson

                  p.post-inline__link: a(href=postLink) 5 Things to Know Before You Buy an HTML Template
              li
                // Post inline
                article.post-inline
                  .post-inline__header
                    span.post-inline__time Jan.20, 2016
                    span.post-inline__author by Brian Williamson

                  p.post-inline__link: a(href=postLink) Installing Your First HTML Template
          ='\n'

          // Tags
          section.section-sm
            h5 Tags
            ul.list-tags
              li: a(href='#') Retina Homepage
              li: a(href='#') New Page Examples
              li: a(href='#') Ultimate Font Collection
              li: a(href='#') Parallax Sections 
              li: a(href='#') Shortcode Central 
          ='\n'

          // Flickr 
          section.section-sm
            h5 Flickr  
            .flickr.grid-4(data-flickr-tags='html-m2', data-photo-swipe-gallery='gallery')
              - for(var i = 0; i < 8; i++)
                .flickr-item(data-type="flickr-item")
                  a.thumb-minimal(href='#', data-image_b="href", data-photo-swipe-item)
                    figure
                      img(src='images/_blank.png', data-image_s="src" data-title="alt", width='75', height='75', alt='')
                    .thumb-minimal__overlay
          ='\n'

  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

